---
layout: v2
---
<div class='bg-tfp-blue slideshow'>
  <div id='dd-recruitment-banner' class='align-center'>
    <img src="/assets/images/dd-homepage-text.png" alt="Become a real life Dream Director">
    <a class='button button-outline' href="#">Learn More</a>
  </div>
</div>


<article id='student-hero' class='sized article-with-photo-l'>
  <h2>
    Join us in inspiring young people to live with passion and purpose.
  </h2>
  <p>
    The Future Project is a national movement to make America dream again. We believe inspired young people have the power to transform our nation’s future. That’s why we’re embedding full-time “Dream Directors” into schools across the country with the mission to unleash the passion and purpose of everyone inside.
  </p>
  <img src="/assets/images/student_hero.jpg" alt="Join us in inspiring young people to live with passion and purpose.">
</article>

<div id='fbs-video-ajax-target'>
</div>

<div id='student-videos-container'>
  <ul class='student-videos'>
  {% for video in site.categories.homepage-videos %}
    <li class='student-video fbs-video-container-{{ video.title | downcase | replace:' ', '-' }}'>
      <a title="{{ video.title }}" href="{{ video.url }}">
        <img src="/homepage-videos/images/{{ video.thumbnail }}" alt="{{ video.title }}" >
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

<div id="press-quotes">
  <section id='press-quotes-viewer'>
    {% for quote in site.categories.quotes %}
      <article class='carousel-slide press-quote{% if forloop.first %} active{% endif %}'>
        <div class='press-quote-content'>
          “{{ quote.content | strip_newlines }}”
        </div>
        <div class='classy-sans'>
          {{ quote.source }}
        </div>
      </article>
    {% endfor %}
  </section>
  <div id="press-quotes-nav" class='sized-narrow'>
    {% for quote in site.categories.quotes %}
    <div class='{% if forloop.first %}active{% endif %} carousel-nav-item'>
      <img src="/quotes/images/{{ quote.image }}" alt="{{ quote.source }}">
    </div>
    {% endfor %}
  </div>
</div>

<div class='bg-black-blue pad'>
  <img src='/assets/v2/partners.png' alt="Our Partners" class='sized' />
</div>
