---
title: It Begins
layout: default

---

<article class="itbegins-feature feature" style='background-image: url(/itbegins/photos/ib_banner.jpg);'>
  <header>
    <div class='sized'>
      <a href=" https://vimeo.com/106844329" class="very-large-video-toggle button">
        Play Video
      </a>
  </div>
  </header>
</article>

<article class='centered white no-border'>
  <br>
  <header>
    <div class="mission">Six Cities, 32 Dream Directors, 25,000+ Students, One Bold Idea</div>
  </header>
  <section>
    <p>It begins. We're starting a new school year. We've broken new ground in two new cities and deepened our roots everywhere else. There are more Dream Directors and more young people than ever before, pursuing their passions for a better world—and empowering others to do the same. So explore our six cities below and listen to the possibility of this year in our Dream Directors' own words. After all, that's what beginnings are all about.  </p>
  </section>
</article>

<article id="cities" class='no-border'>
  <section>
    {% include itbegins/nav.html %}
  </section>
</article>

<br>

<div id="itbegins-pjax-container">
</div><!-- itbegins-pjax-content -->

<article class='pre-pre-footer'>
  <header>
  <h4 class='centered'>Check Out More Cities</h4>
  </header>
  <section>
    {% include itbegins/nav.html %}
  </section>
  <br>
  <footer></footer>
</article>

<article class='pre-footer'>
  <section class='pre-footer'>
    <span class="cent">
      <br>
	  <h4>Want to join the movement empowering<br>young people across the country? </h4>
	  <br>
    <a href="https://tfp2.wufoo.com/forms/welcome-to-the-future-family/">
	  	<div class="centered">
	  		<div class="itbegins_button">
	  			SIGN UP TO VOLUNTEER
	  		</div>
	  	</div>
	</a>
	  <br>
	  	<a href="/donate/">
	  	<div class="centered">
	  		<div class="itbegins_button_2">
	  			SUPPORT WITH A DONATION
	  		</div>
	  	</div>
	</a>
    </span>
  </section>

    <br>
  <header>
    <div class="centered">
    <h4>Learn More</h4>
    </div>
  </header>
  <section class="row">
    <div class="g4">
      <a href="/what">
	         <div class="icon_with_hover">
	           <img src="/assets/what_button_photo.jpg">
			   <img src="/assets/what_hover_photo.jpg">
	         </div>
      </a>
    </div>
    <div class="g4">
      <a href="/how">
	         <div class="icon_with_hover">
	           <img src="/assets/how_button_photo.jpg">
			   <img src="/assets/how_hover_photo.jpg">
	         </div>
      </a>
    </div>
    <div class="g4">
      <a href="/where">
	         <div class="icon_with_hover">
	           <img src="/assets/where_button_photo.jpg">
			   <img src="/assets/where_hover_photo.jpg">
	         </div>
      </a>
    </div>
  </section>
  <br>
</article>

