---
title: Who We Are
layout: default
headline_text: We're a team that believes anything is possible
headline_img: /assets/allin.jpg
---

<article class="in_page_nav">
  <section>
    <ul class="filters">
	  <li data-filter=".detroit">Detroit</li>
	  <li data-filter=".nh">New Haven</li>
	  <li data-filter=".newark">Newark</li>
	  <li data-filter=".ny" class='is_active'>NYC</li>
	  <li data-filter=".sf">San Francisco</li>
	  <li data-filter=".dc">Washington, D.C.</li>
	  <li data-filter=".leadership">Leadership</li>
      <li data-filter=".staff">HQ</li>
      <li data-filter=".board">Board of Directors</li>
      <li data-filter=".advisors">Advisors</li>
    </ul>
  </section>
</article>
<article class="who">

  <section class="filterable">
    {% for person in site.categories.who %}
      {% include person.html %}
    {% endfor %}
  </section>
  </section>
</article>

