---
title: Dream Directors
layout: default
css_class: white-header
---

<article class='homepage-feature feature' style='background-image: url(/assets/introducingdd2.jpg);'>
  <header>
      <section class="row">
        <div class="g6">
            <br>
        </div>
        <div class="g6">
	  
	<div class='dd_banner_button'>
		<br><br><br><br><br><br><br><br><br>
    	<a href="http://vimeo.com/96807475" class="very-large-video-toggle 		button">
     	   Play Video
   	 	</a>
	</div>
	</div>
	</section>
  </header>
</article>

<article class="row centered">
  <br>
  <header>
    <div class="dd_blurb">One day, every school in America will have a transformational Dream Director—<br>a social entrepreneur dedicated to unlocking the greatness of everyone inside it.<br><br><b>Are you ready to be one of the first?</b></div>
	<br>
    <a href="http://go.dream.org/apply">
      <div class='button_white'>APPLY NOW</div>
    </a>
	<br>
  </header>
</article>

<article class="no_border">
  <br>
  <section class="row centered">
    <div class="icon_set">
      <div class="g2">
      </div>
      <a href="#about_the_position">
        <div class="g2">
          <div class="icon_scooch">
            <div class="icon_kleaver">
              <img src="/assets/dd_icons/kleaver_blue.jpg">
            </div>
            <p>About the<br>Role</p>
          </div>  
        </div>
      </a>
	  
	  <a href="#how_to_apply">
	          <div class="g2">
	            <div class="icon_scooch">          
	              <div class="icon_calendar">
	                <img src="/assets/dd_icons/calendar_blue.jpg">
	              </div>
	              <p>Application<br>Process</p>
	            </div>
	          </div>
		  </a>
	  
      <a href="#how_they_do_it">
        <div class="g2">
          <div class="trophy_scooch">
            <div class="icon_trophy">
              <img src="/assets/dd_icons/trophy_blue.jpg">
            </div>
            <p>How They<br>Do It</p>
          </div>  
        </div>
      </a>  

      <a href="#day_in_the_life">
        <div class="g2">
          <div class="icon_scooch">          
            <div class="icon_hi">
              <img src="/assets/dd_icons/coffee_blue.jpg">
            </div>
            <p>A Day<br>In the Life</p>
          </div>  
        </div>
      </a>
    </div>  
  </section>
</article>
<article id="about_the_position">
 
  <header>
    <br>
    <span class="cent">

      <br>
    <h3>About the Role</h3>
    </span>
  </header>
  
<section class="row">
 <div class="g1"> 
   <br>
 </div>
    <div class="g10">
    <p>A Dream Director is a new job for a new century. A transformational leader who is assigned to one high school—and committed to unleashing the passion and purpose, curiosity and imagination, courage and grit of everyone in it—the Dream Director is many things in one. They are entrepreneurs. They are coaches. They are imagineers. They are coalition builders. They are organizers. They are educators. They are midwives of dreams—and warriors of peace and possibility. They are creative rebels. They are the ones who see things differently. They are idealists. They are pragmatists. Above all, they are leaders.</p>
    <p><a data-toggle='#long_job_description' href='#'>Read More</a></p>
    <div id="long_job_description" class="hidden">
      {% capture desc %}{% include long_ass_job_description.md %}{% endcapture %}
      {{ desc | markdownify }}
    </div>
    </div>
    </div>
  </section>
</article>
<article class='swipe inverted' data-auto='5000' data-oneclick>
  <div class='swipe-wrap'>

    {% for quote in site.categories.ddslides %}
    <div>
      <img src="{{ quote.image }}" alt="{{ quote.text }}" />
    </div>
    {% endfor %}

  </div>
</article>

<article id="how_to_apply">
  <br>
  <header>
    <span class="cent"><h3>Application Process</h3></span>
  </header>
  <section class="row">
    <div class="g1">
      </div>
    <div class="g10">
      <div class="color_gray">
	  </div>
        <span class="bold">Step 1: See what you're getting yourself into!</span>
        <br>
        <p>Check out our website and learn what we do—watch videos, read bios and articles. And feel free to reach out at <a href=mailto:"jobs@thefutureproject.org">jobs@thefutureproject.org</a> with questions.</p>
        <span class="bold">Step 2: Complete the Written Application</span>
        <br>
        <p>Complete the application <a href="http://go.dream.org/apply" target="_blank">here</a> by:</p>
			<ul class="bulleted">
				<li>11:59 PM on April 12 if you're applying for San Francisco</li>
				<li>11:59 PM on April 24 if you're applying for any other city</li>
			</ul>
			<br>
        <span class="bold">Step 3: Attend the Adventure</span>
        <br>
        <p>If your application blows us away, we will invite you to meet our team and students at your choice of "Adventure" sessions, in one of the following cities.</p>
		<ul class="bulleted">
			<li>April 21st &amp; 22nd in San Francisco</li>
			<li>May 5th &amp; 7th, 4-7 PM in New York City</li>
			<li>May 13, 4-7 PM in Detroit</li>
		</ul>
		<br>
		<span class="bold">Step 4: Tackle the Final Mission</span>
        <br>
        <p>In May and June, final candidates complete the application process by executing aspects of our model in the form of on-the-ground challenges, done in close collaboration with our staff and students.
<br><br>
Offers will be made in mid-May for San Francisco Dream Directors—and in early June for all other cities.
<br><br>
<i>Newly minted Dream Directors will start training in July—including a week with the entire team (this year in Washington, D.C.)—and enter their schools in the Fall!</i>
</p>
      <p></p>
</section>
</article>



<article id="how_they_do_it">
  <section>
    <section class="row">
     <div class="g1"> 
       <br>
     </div>
    <div class="g10">
      <br>
      <span class="cent">
    <h3>How They Do It</h3>
    </span>
    <br>
        Dream Directors work with principals, students, teachers, and staff to design a personalized transformation package for a school that turns all students into passionate innovators with the power to do anything they dream.
   <br><br>
        <ul class="bulleted">
          <li>
            Conduct a human centered design-driven <span class="bold">Listening Tour</span> to uncover—from the students, principal, teachers, parents, and community—the core needs and common dream of the school
          </li>
          <li>
            With the principal, teachers, and students, develop and execute a tailored <span class="bold">Physical, Cultural, and Policy Transformation Process</span> for the school
          </li>
          <li>
          Develop and provide <span class="bold">Leadership, Entrepreneurship, and Mindset Training</span> for students, faculty, and principal.
          </li>
          <li>
          Coach dozens (maybe hundreds!) of students to dream up, design, and <span class="bold">build Future Projects</span>.
          </li>
          <li>
          Teach <span class="bold">Master Classes</span> on critical 21st century skills—from motivation to communication to how to learn—and work with teachers to embed them into the classroom
          </li>
          <li>
          <span class="bold">Build a Volunteer Network</span> of hundreds of college and graduate students, young professionals, business owners, and community leaders to support students in building Future Projects
          </li>
          <li>
          Work with The Future Project team to develop and execute <span class="bold">Innovative Approaches to Assessment</span> and measuring really matters in school
          </li>
        </ul>
        <br>
        <a href="/videos#voncia">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;See for yourself!</a>
      </div>
    </div>
    </div>
    </ul>
    </div>
  </section>
  <section class="row">
    <div class="g1">
    </div>
    <div class="g10">
    <span class="cent"><h4> The Impact of Future Projects </h4></span>  
    <br>
    <ul class="bulleted">
      <li>
      Mariely Garcia, a student at Richard R. Green High School of Teaching was tired of seeing young people struggle with low self-worth, so she launched <a href="http://perfectrevolution.org">The Perfect Revolution</a> to unite the nation in acceptance, courage, and love.
      </li>
      <li>
      Bryan Stromer, Lena Jacobs and a team of NYC Lab School students built "<a href="http://ownitnyc.org/">Own It</a>," a campaign to end bullying by encouraging students to own what makes them weird.
      </li>
      <li>
      Mercedes Dunkley, a student at New Haven Academy, created “<a href="http://www.youtube.com/watch?v=zZIkVRcDqVI">AirTime</a>,” a school-wide transformation from “throwing dirt” to “spitting soap” to put an end to negative language at school.
      </li>
      <li>
      Raenuka Reneau, who lost her mom as a teenager, wanted to help young people going through loss, so she created <a href="/videos#flutter">Flutter</a>, a website to help people share their stories of loss and find something new.
      </li>
      <li>
      Finally, see how building Future Projects has <a href="/videos#innovation">changed the lives</a> of many of our students.  
      </li>
      </ul>
    </div>
    </div>
  </section>
</article>


<article id="day_in_the_life">
  <br>
  <header>
    <span class="cent"><h3>A Day In The Life</h3></span>
  </header>  
    <section class="row">
      <div class="g1">
      </div>
      <div class="g10">
 <p>So what does a Dream Director's day typical look like? Take a glimpse into the worlds of some of our current Dream Directors. Of course, you've probably guessed by now that typical isn't really part of the job description.  </p>
      </div>
    </section>
    <section class="row">
      <div class="g1">
      </div>
      <div class="g4">
        <div class="dd_photo">
          <img src="/assets/dd_icons/Byline_Divine.jpg">
        </div>  
        <br>
        <span class="cent">
          <h4>Divine Bradley</h4>
        </span>    
        <div class="school_subheading">
          Malcolm X Shabazz High School<br>Newark
        </div>  

      </div>
      <div class="g6">
            <p><b>6AM -</b> Just woke up with my son's foot on my eyelid.  Time to prep his lunch, breakfast and go!
<br><br>
        <b>8AM -</b> Just dropped my boy off at school and took my wife to the train station.  Now I have to grab food on the go to make it to convocation at Shabazz and DJ.
<br><br>
        <b>10AM -</b> Met with Kelly & Co. (my team of interns!) along with faculty helping with TFP projects.
<br><br>
        <b>12PM -</b> I need to eat! Just spoke in three classrooms, but I have to rush over to meet with another school in town – they want a Dream Director, too.
<br><br>
        <b>2PM -</b> Getting ready to kill a Dream Team meeting at Shabazz :)
<br><br>
        <b>4PM -</b> Leaving Shabazz to get my son from school.  I'll find time to check some texts, emails, and voicemails I missed during the day.
<br><br>
        <b>6PM -</b> Waiting in the car for my wife to get off of the train.  It's been almost 30mins.  Crossing my fingers my son stays asleep.
<br><br>
        <b>8PM -</b> Finally… dinner!
<br><br>
        <b>10PM -</b> Time to look at more emails.  I'm tired!
<br><br>
        <b>12AM -</b> Reading the news and getting ready to call it a day. 
        </p>
        <div class="divide">
        </div>  
      </div>
    </section> 
    
    <br>  
 <section class="row">
   <div class="g1">
   </div>
   <div class="g4">
     <div class="dd_photo">
       <img src="/assets/dd_icons/Byline_Eve.jpg">
     </div>  
     <br>
     <span class="cent">
       <h4>Eve King</h4>
     </span>    
     <div class="school_subheading">
       Hill Regional Career High School<br>New Haven
     </div>  

   </div>
   <div class="g6">
         <p><b>8AM -</b> Frank, Christian, Sarah, Laura, and I (the New Haven TFP team) convene at The Grove, our downtown office space, for a weekly check-in meeting. 
<br><br>
<b>9AM -</b> Citywide updates, problem solving techniques, upcoming dates, coffee, etc. 
<br><br>
<b>10AM -</b> After walking from The Grove to Career HS, I put my stuff down in my office, go through emails, and check out the Dream Team Instagram updates.
<br><br>
<b>11AM -</b> Lunch waves bring big groups of students into my office each day. Angelique and Jaquan dance to Usher (seriously) while Rafi, Jamari, Barshawn, and Adam work on planning an afterschool Open Mic next Friday. 
<br><br>
<b>12PM -</b> Milan and Justice come visit me at B-Lunch to ask if I have any leftover stickers from yesterday's First Day of Spring campaign. They leave with lime green #SPRUNG stickers on their phones. During C-Lunch I help two sophomores finish applications for summer jobs. 
<br><br>
<b>1PM -</b> 4th period I have a meeting with a student from the school's senior project class, Jamal. He's planning an Art Show at Career, and we go over the list of classmates he's asked to contribute work. 
<br><br>
<b>2PM -</b> [This isn't a daily occurrence!] A student I know well comes to my office really upset about an ongoing problem among a group of her friends. We have some pretzels and talk and, when she's collected, I walk her back to class. 
<br><br>
<b>3PM -</b> I don't have an official afterschool session or a club meeting on Fridays, so it's usually a good day to bring students into the New Haven community. I haven't got anything lined up for today, so I get to just hang out with the students who stop by before they leave for the weekend.
<br><br>
<b>4PM -</b> I find Mike, the Building &amp; Grounds Manager, before I leave to ask about getting his help for an event next week. One of Kleaver's Dreamers calls me to ask about getting started on an art project!
<br><br>
<b>5PM -</b> I leave Career and meet a friend of mine for coffee. He's a med student here at Yale and is coming to Career to speak at "Choices Day" next month, so he wants to talk about how that will go. 
        </p>
        <div class="divide">
        </div>  
      </div>
    </section>
   
      <br>  
   <section class="row">
     <div class="g1">
     </div>
     <div class="g4">
       <div class="dd_photo">
         <img src="/assets/dd_icons/Byline_Tim.jpg">
       </div>  
       <br>
       <span class="cent">
         <h4>Tim Shriver</h4>
       </span>    
       <div class="school_subheading">
         NYC Lab School<br>New York City
       </div>  

     </div>
     <div class="g6">
       <span class="cent">
         <h4>A Common Day</h4>
         <br>
       </span>
           <p><b>8AM -</b> Arrive at school for a 1:1 with a student who wants to join The Future Project and create his own comic book.
<br><br>             
<b>8:30AM -</b> Lead a freshman study hall that we've transformed into a TV studio - today we'll make a music video to Pharrell's "Happy"
<br><br>  
<b>9:30AM -</b> Meet with the lead custodian regarding plans and supplies for a courtyard beautification project in 2 weeks.
<br><br>  
<b>11AM -</b> Planning and printing for afternoon class and after school Dream Team meeting.
<br><br>  
<b>12PM -</b> Lunchtime meeting with a team of students who are passionate about changing the way their schools sees and treats people with learning disabilities.
<br><br>  
<b>12:30PM -</b> Lead Dreaming 101, the elective class at Lab where students get to identify their dreams and build projects as part of their school day.
<br><br>  
<b>2PM -</b> Meet with my principal for our weekly 1:1 to align regarding ongoing projects and design or get on the calendar to design a number of upcoming initiatives.
<br><br>  
<b>3PM -</b> Facilitate a Dream Team meeting - today we'll watch an hour long documentary on the state of women in poverty in America, which a couple students chose, and work together to design a new project that Lab could take on to tackle this issue.
<br><br>  
<b>5:30PM -</b> Complete a debrief with notes and top insights from the day for designing next week and to have for next year.
<br><br>  
<b>6PM -</b> Clear inbox and make sure that my calendar for the day tomorrow is set for a day of big impact.
          </p>
          <br>
          <span class="cent">
            <h4>Hosting A School-Wide Event</h4>
          </span>
          <div class="school_subheading">
            &#40;An Outrageously Amazing Day&#41;
          </div>
         <br>
           <p><b>6AM -</b> Wake up and make my way directly to Staples to pick up all our printed materials for Rewind to Redefine, our day-long student-led dreaming extravaganza at school.
<br><br>
<b>7AM -</b> Arrive an hour ahead of students to make sure the days materials and instructions are all set.
<br><br>
<b>7:30AM -</b> Pick up donuts and coffee for the arrival of the team.
<br><br>
<b>8:30AM -</b> My Dream Team (21 students) and our adult volunteers (~30 people) from The Future Project and the community arrive to meet and get their marching orders.
<br><br>
<b>9AM -</b> Students arrive for school and half the student body (~300) make their way into the auditorium to spend the morning with us.
<br><br>
<b>9:30AM -</b> Leap on stage to kick things off and then hand it off to a teacher leader and the Dream Team to run with the event.
<br><br>
<b>10:30AM -</b> Volunteers and Dream Team members lead break out groups to parts of the building to run through an hour-long intensive where students create Dreamer Profiles declaring their passions and dreams as well the big obstacles standing in their way.
<br><br>
<b>11AM -</b> The whole group returns to the auditorium for an open-mic shareout where almost 40 students come speak. Students are lined up and waiting to share!
<br><br>
<b>12PM -</b> Students leave the event for lunch and my team of students and volunteers chow down on some pizza.
<br><br>
<b>12:30PM -</b> Time to do it all again for the second half of the school!
<br><br>
<b>3PM -</b> We wrap the day with the same team that started it, show some gratitude to all the different people present and not present that made the day possible, and finish it with the loudest hands in rallying cry we can possibly muster.
<br><br>
<b>4:30PM -</b> Debrief the day with a few key team members after cleaning up and put my feet up!
          </div>  
        </div>
      </div>
      </section>  
        
</article>

<article>
  <section>
    <span class="cent">
      <p> If you have any questions, just drop us a line at <a href="mailto:jobs@thefutureproject.org">jobs@thefutureproject.org</a>.
      </p> 
    </span>
  </section>
</article>  
    
<article>
  <header>
    <div class="centered">
    <h4>Learn More</h4>
    </div>
  </header>
  <section class="row">
    <div class="g4">
      <a href="/what">
        <div class="what_button">
        <img src="/assets/dd_icons/what_button.jpg">
        </div>
      </a>
    </div>
    <div class="g4">
      <a href="/how">
        <div class="how_button">
        <img src="/assets/dd_icons/how_button.jpg">
        </div>
      </a>
    </div>
    <div class="g4">
      <a href="/where">
        <div class="where_button">
        <img src="/assets/dd_icons/where_button.jpg">
        </div>
      </a>
    </div>
  </section>
</article>
