---
title: Team
layout: v2
header_text: We're a team that believes<br> anything is possible.
---

{% include v2/team_nav.html %}
<div id="people">
{% assign team = 'leadership' %}{% include v2/team.html %}
</div>
<br><br><br>
<article id="join-the-team" class='sized article-with-photo-l-r article-short article-photo-bigger'>
  <h2>Join the Team</h2>
  <p>It takes a great team to orchestrate social change. Ready to dream big?</p>
  <p>
    <a class='button' href="/jobs/">Learn More</a>
  </p>
  <img src="/assets/images/team-andrew.jpg" alt="Join the Missionc">
</article>
