<article class='photo-stack'>
<section>
  <div class='photo-stack-caption'>
    <h3>Empowering Young Leaders</h3>
    <p>In a city of such global influence, we're committed to empowering the thousands of young leaders still in high school to discover the power of their own ideas. We're lucky to be working with incredible DC principals, already guiding the re-opening and rebuilding of their schools' campuses and cultures. Together, we'll help the city's young people find their voice on the issues that matter to them most.</p>
  </div>
  <div class='photo-stack-photos'>
    <img src="/itbegins/photos/ib_dc_7.jpg" alt="FPO" />
    <img src="/itbegins/photos/ib_dc_5.jpg" alt="FPO" />
	<img src="/itbegins/photos/ib_dc_6.jpg" alt="FPO" />
	<img src="/itbegins/photos/ib_dc_8.jpg" alt="FPO" />
	<img src="/itbegins/photos/ib_dc_9.jpg" alt="FPO" />
  </div>
</section>
</article>

<article class="no_border">
<figure class="sized">
  <section class="row">
    <div class="g3">
      <div class="divide_solid">
        <br>
      </div>
    </div>
    <div class="g6">  
      <header class='divide_text'>
        <div class="line_header">The DC Dream Directors</div>
      </header>
    </div>
    <div class="g3">
      <div class="divide_solid">
        <br>
      </div>
    </div>
  </section>
</figure>
</article>

<article class='swipe'>
  <div class='swipe-wrap'>
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="/itbegins/photos/ib_voncia.jpg" alt="FPO" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/VonciaComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Voncia Barno Monchais</h3>
          <p>Based at Eastern Senior High School, just steps from Capitol Hill, DC's Chief Dream Director Voncia is building a city-wide coalition dedicated to opening up the city's schools to the world outside.</p>
          <nav>
            <img src="/itbegins/photos/arrow_blank.png" alt="Next" />
            <img src="/itbegins/photos/arrow_blue.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
	
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="/itbegins/photos/ib_jess.jpg" alt="FPO" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/JessComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Jessica Valoris</h3>
          <p>At the beginning of our first year at Roosevelt Senior High School, Jess talks about the possibility she sees around her.</p>
          <nav>
            <img src="/itbegins/photos/arrow_blank.png" alt="Next" />
            <img src="/itbegins/photos/arrow_red.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
	
 <div><!-- slide start -->
   <div class='flip-video'>
     <div class='flip-video-media'>
       <div class="flip-container">
         <div class='flip-card'>
           <figure class="flip-front">
             <img src="/itbegins/photos/ib_cortni.jpg" alt="FPO" />
           </figure>
          <figure class="flip-back">
            <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/Cortni.mp4" controls></video>
          </figure>
         </div><!-- .flip-card -->
       </div><!-- .flip-container -->
     </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Cortni Grange</h3>
          <p>Cortni is essentially two people in one, both Dream Director at Benjamin Cardozo Educational Campus and DC's Movement Director, giving him first-hand insight into how young people can be on the front lines of change in their city.</p>
          <nav>
            <img src="/itbegins/photos/arrow_blank.png" alt="Next" />
            <img src="/itbegins/photos/arrow_red.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
	
  </div><!-- swipe-wrap -->
</article>
