<article class='photo-stack'>
<section>
  <div class='photo-stack-caption'>
    <h3>Restoring American Greatness</h3>
    <p>This fall, we're humbled to be launching our movement in Detroit–a city that represents the awesome scope of American achievement and the challenge of finding what it takes to rebuild it. Less than a month in, we're already inspired by just how much pride, hope, and determination exists in our schools and the communities surrounding them. Incredible things are going to happen as young Detroiters step up to lead the rebirth of their great city.</p>
  </div>
  <div class='photo-stack-photos'>
    <img src="photos/ib_detroit_1.jpg" alt="Future School" />
	<img src="photos/ib_detroit_2.jpg" alt="Future School" />
	<img src="photos/ib_detroit_3.jpg" alt="Future School" />
    
  </div>
</section>
</article>

<header class='classy-header'>The Detroit Dream Directors</header>

<article class='swipe'>
  <div class='swipe-wrap'>
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_kayla.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/Kayla.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Kayla Mason</h3>
          <p>Being the Dream Director at East English Village Preparatory High School is a natural way for Kayla to bring her longtime dedication to, and work with, the dreams of young people to the next level.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_yellow.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_emma.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/Emma Trout.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Emma Trout</h3>
          <p>As a former public high school teacher in Detroit, Emma knows how important the way young people see her is to her success as a Dream Director. At West Side Academy, she's committed to making sure they know that she's there to stay.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_red.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_toni.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/Toni.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Toni Jones</h3>
          <p>Toni transforms lunch on the first day of school at Renaissance High School into an opportunity for students to imagine themselves living into their dreams, and taking the first steps to get there.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_blue.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_jay.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/JayComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Jay Rayford</h3>
          <p>At Western International High School, Dream Director Jay Rayford is already imagining how the team of young people he recruits this year can have impact for years to come.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_blue.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
  </div><!-- swipe-wrap -->
</article>
