<article class='photo-stack'>
<section>
  <div class='photo-stack-caption'>
    <h3>Building Dream City</h3>
    <p>Last year, Newark's pioneer Dream Director, Divine Bradley, cast a vision of turning Brick City to Dream City, starting with Malcom X Shabazz High School. We're so excited to be adding three more visionary Dream Directors to the Newark team, charged with revolutionizing our model to take the electricity of Shabazz to the entire city.</p>
  </div>
  <div class='photo-stack-photos'>
    <img src="/itbegins/photos/ib_newark_1.jpg" alt="FPO" />
    <img src="/itbegins/photos/ib_newark_2.jpg" alt="FPO" />
	<img src="/itbegins/photos/ib_newark_3.jpg" alt="FPO" />
    <img src="/itbegins/photos/ib_newark_4.jpg" alt="FPO" />
	<img src="/itbegins/photos/ib_newark_5.jpg" alt="FPO" />	
  </div>
</section>
</article>

<article class="no_border">
<figure class="sized">
  <section class="row">
    <div class="g3">
      <div class="divide_solid">
        <br>
      </div>
    </div>
    <div class="g6">  
      <header class='divide_text'>
        <div class="line_header">The Newark Dream Directors</div>
      </header>
    </div>
    <div class="g3">
      <div class="divide_solid">
        <br>
      </div>
    </div>
  </section>
</figure>
</article>

<article class='swipe'>
  <div class='swipe-wrap'>

 <div><!-- slide start -->
   <div class='flip-video'>
     <div class='flip-video-media'>
       <div class="flip-container">
         <div class='flip-card'>
           <figure class="flip-front">
             <img src="/itbegins/photos/ib_divine.jpg" alt="FPO" />
           </figure>
          <figure class="flip-back">
            <img src="/itbegins/photos/ib_divine.jpg" alt="FPO" />
          </figure>
         </div><!-- .flip-card -->
       </div><!-- .flip-container -->
     </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Divine Bradley</h3>
		  <p>With his often-stated goal of turning "Brick City" into "Dream City," Newark's Chief Dream Director Divine Bradley is well underway with his team, enrolling the city in some wildly creative and imaginative projects.</p>
          <nav>
            <img src="/itbegins/photos/arrow_blank.png" alt="Next" />
            <img src="/itbegins/photos/arrow_green.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
               <img src="/itbegins/photos/ib_zaki.jpg" alt="FPO" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/ZakiComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Zaki Smith</h3>
		  <p>At East Side Hight School in Newark, students asked Dream Director Zaki Smith if this was a special day. His answer? "Yes, we're celebrating <i>you</i>."</p>
          <nav>
            <img src="/itbegins/photos/arrow_blank.png" alt="Next" />
            <img src="/itbegins/photos/arrow_blue.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
               <img src="/itbegins/photos/ib_supanova.jpg" alt="FPO" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/SupaNova.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>SupaNova Slom</h3>
		  <p>First impressions are important. Dream Director SupaNova talks about the importance of greeting young people with energy on their first day, and keeping the energy up, so that they know something will be different this year.</p>
          <nav>
            <img src="/itbegins/photos/arrow_blank.png" alt="Next" />
            <img src="/itbegins/photos/arrow_yellow.png" alt="Next" />
          </nav>
		  
	          </div><!-- .flip-video-caption -->
	        </div><!-- .flip-video -->
	      </div><!-- slide end -->
	      <div><!-- slide start -->
	        <div class='flip-video'>
	          <div class='flip-video-media'>
	            <div class="flip-container">
	              <div class='flip-card'>
	                <figure class="flip-front">
	                 <img src="/itbegins/photos/ib_akhmose.jpg" alt="FPO" />
	                </figure>
	                <figure class="flip-back">
	                  <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/Akhmose.mp4" controls></video>
	                </figure>
	              </div><!-- .flip-card -->
	            </div><!-- .flip-container -->
	          </div><!-- .flip-video-media -->
	          <div class='flip-video-caption'>
	            <h3>Akhmose Ari-Hotep</h3>
				<p>Newark Dream Director Akhmose reflects on what it's like for the place he's worked to transform physically over the past few weeks takes on a new life when filled with students and teachers.</p>
	            <nav>
	              <img src="/itbegins/photos/arrow_blank.png" alt="Next" />
	              <img src="/itbegins/photos/arrow_red.png" alt="Next" />
	            </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
  </div><!-- swipe-wrap -->
</article>
