<article class='photo-stack'>
<section>
  <div class='photo-stack-caption'>
    <h3>Growing with the Elm City</h3>
    <p>It's our fourth year working with the city of New Haven, and we're honored to be the primary partner of superintendent Garth Harries in increasing the engagement and voice of the city's incredible young people. With more Dream Directors on the ground than ever before, our goals are all about deeper integration: into the  curriculum, into the broader school ecosystem, and into the evaluation tools to help us innovate.</p>
  </div>
  <div class='photo-stack-photos'>
    <img src="photos/ib_nh_1.jpg" alt="Future School" />
    <img src="photos/ib_nh_2.jpg" alt="Future School" />
    <img src="photos/ib_nh_3.jpg" alt="Future School" />	
  </div>
</section>
</article>

<header class='classy-header'>The New Haven Dream Directors</header>

<article class='swipe'>
  <div class='swipe-wrap'>
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_christian.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/Christian.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Christian Shaboo</h3>
          <p>Chief Dream Director in New Haven, and Dream Director at High School in the Community, Christian recounts what made him feel more a part of the school than ever before.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_blue.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_frank.jpg"  alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/FrankComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Frank Brady</h3>
          <p>Wilbur Cross High School's first day was technically just for freshman. So Dream Director Frank Brady saw it as an opportunity to build momentum for their next four years, and welcome them like celebrities.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_red.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_eve.jpg"  alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/EveComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Eve King</h3>
          <p>Dream Director Eve King, at Hill Regional Career High School, wants students to be reminded every day of the dreams they declared. So she put all of those dreams up on the wall, where everyone can see.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_yellow.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_george.jpg"  alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/GeorgeComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>George Black</h3>
          <p>At Riverside Academy, Dream Director George Black talks about the power of the one-on-one conversations he had with each of the students he saw on the first day.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_green.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_akua.jpg"  alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/AkuaComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Akua Soadwa</h3>
          <p>At New Haven Academy, our launch school in New Haven three years ago, new Dream Director Akua starts out the year with games and challenges...all with a purpose.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_blue.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_jeroy.jpg"  alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/JeroyComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Jeroy Smith</h3>
          <p>It's before school opens on the first day, and Jeroy Smith, Dream Director at the New Horizons School, eagerly anticipates how the students will react to what he's done to make the visual environment just a little more magical.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_yellow.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
  </div><!-- swipe-wrap -->
</article>
