<ul class="cities-nav">
  <li class='is-active city city-new-york'>
  <a data-pjax="/itbegins/nyc.html" data-pjax-container="#itbegins-pjax-container" href="#cities">
    <div class='city-icons'>
      <img src='/assets/cityicons/city_ny_bw.png' />
      <img src='/assets/cityicons/city_ny_color.png' />
    </div>
    <span>New York City</span>
  </a>
  </li>
  <li class='city city-dc'>
  <a data-pjax="/itbegins/dc.html" data-pjax-container="#itbegins-pjax-container" href="#cities">
    <div class='city-icons'>
      <img src='/assets/cityicons/city_dc_bw.png' />
      <img src='/assets/cityicons/city_dc_color.png' />
    </div>
    <span>Washington DC</span>
  </a>
  </li>
  <li class='city city-hvn'>
    <a data-pjax="/itbegins/hvn.html" data-pjax-container="#itbegins-pjax-container" href="#cities">
      <div class='city-icons'>
        <img src='/assets/cityicons/city_nh_bw.png' />
        <img src='/assets/cityicons/city_nh_color.png' />
      </div>
      <span>New Haven</span>
    </a>
  </li>
  <li class='city city-dtw'>
    <a data-pjax="/itbegins/dtw.html" data-pjax-container="#itbegins-pjax-container" href="#cities">
      <div class='city-icons'>
        <img src='/assets/cityicons/city_detroit_bw.png' />
        <img src='/assets/cityicons/city_detroit_color.png' />
      </div>
      <span>Detroit</span>
    </a>
  </li>
  <li class='city city-sf'>
    <a data-pjax="/itbegins/sf.html" data-pjax-container="#itbegins-pjax-container" href="#cities">
      <div class='city-icons'>
        <img src='/assets/cityicons/city_sf_bw.png' />
        <img src='/assets/cityicons/city_sf_color.png' />
      </div>
      <span>San Francisco</span>
    </a>
  </li>
  <li class='city city-ewr'>
    <a data-pjax="/itbegins/ewr.html" data-pjax-container="#itbegins-pjax-container" href="#cities">
      <div class='city-icons'>
        <img src='/assets/cityicons/city_newark_bw.png' />
        <img src='/assets/cityicons/city_newark_color.png' />
      </div>
      <span>Newark</span>
    </a>
  </li>
</ul>
