<ul class="cities-nav grid align-center">
  <li class='span2 active city city-new-york'>
  <a data-pjax="/schools/nyc.html" data-pjax-container="#schools-pjax-container" href="#cities">
    <div class='swapping-icons'>
      <img src='cityicons/city_ny_bw.png' />
      <img src='cityicons/city_ny_color.png' />
    </div>
    <h3>New York City</h3>
  </a>
  </li>
  <li class='span2 city city-dc'>
  <a data-pjax="/schools/dc.html" data-pjax-container="#schools-pjax-container" href="#cities">
    <div class='swapping-icons'>
      <img src='cityicons/city_dc_bw.png' />
      <img src='cityicons/city_dc_color.png' />
    </div>
    <h3>Washington DC</h3>
  </a>
  </li>
  <li class='span2 city city-hvn'>
    <a data-pjax="/schools/hvn.html" data-pjax-container="#schools-pjax-container" href="#cities">
      <div class='swapping-icons'>
        <img src='cityicons/city_nh_bw.png' />
        <img src='cityicons/city_nh_color.png' />
      </div>
      <h3>New Haven</h3>
    </a>
  </li>
  <li class='span2 city city-dtw'>
    <a data-pjax="/schools/dtw.html" data-pjax-container="#schools-pjax-container" href="#cities">
      <div class='swapping-icons'>
        <img src='cityicons/city_detroit_bw.png' />
        <img src='cityicons/city_detroit_color.png' />
      </div>
      <h3>Detroit</h3>
    </a>
  </li>
  <li class='span2 city city-sf'>
    <a data-pjax="/schools/sf.html" data-pjax-container="#schools-pjax-container" href="#cities">
      <div class='swapping-icons'>
        <img src='cityicons/city_sf_bw.png' />
        <img src='cityicons/city_sf_color.png' />
      </div>
      <h3>San Francisco</h3>
    </a>
  </li>
  <li class='span2 city city-ewr'>
    <a data-pjax="/schools/ewr.html" data-pjax-container="#schools-pjax-container" href="#cities">
      <div class='swapping-icons'>
        <img src='cityicons/city_newark_bw.png' />
        <img src='cityicons/city_newark_color.png' />
      </div>
      <h3>Newark</h3>
    </a>
  </li>
</ul>
