<article class='photo-stack'>
  <section>
    <div class='photo-stack-caption'>
      <h3>Harnessing the Big Apple</h3>
      <p>The largest school district in the country. Over a million students. A complete playground for innovation and opportunity. We're so excited to have Dream Directors in eight NYC schools this year, and thrilled to represent Brooklyn and Queens (Staten Island, we see you!). The goal is to build a system that taps into the incredible resources this city has to offer its visionary young people.</p>
    </div>
    <div class='photo-stack-photos'>
      <img src="photos/ib_ny_7.jpg" alt="Future School" />
      <img src="photos/ib_ny_4.jpg" alt="Future School" />
      <img src="photos/ib_ny_1.jpg" alt="Future School" />
      <img src="photos/ib_ny_8.jpg" alt="Future School" />
      <img src="photos/ib_ny_6.jpg" alt="Future School" />
    </div>
  </section>
</article>

<header class='classy-header'>The NYC Dream Directors</header>

<article class='swipe'>
  <div class='swipe-wrap'>

	
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_joyce.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/JoyceComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Joyce Gendler</h3>
          <p>It's her second year as Dream Director at Richard R. Green High School, and Joyce is feeling, subtly but powerfully, that something big could happen this year. </p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_green.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
	
	  
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_kleaver.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/KleaverComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Kleaver Cruz</h3>
          <p>How cool is it when people are excited about what you're doing before you even started for the year? Dream Director Kleaver had that experience with the students at Leadership Institute High School in the Bronx.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_yellow.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
	
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_eleanor.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/EleanorComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Eleanor Klufio</h3>
          <p>Dream Director at the NYC Lab School, Eleanor knew that she wanted to create a festive environment for all of the students and schools who call the building home.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_blue.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
	
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_lamarr.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/LamarrComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Lamarr Womble</h3>
          <p>For his first day, Dream Director Lamarr and the teachers at The College Academy in Washington Heights staged a picket. Not a picket to protest something, but one to celebrate the students and their dreams.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_red.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
	
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_zap.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/SarahZapComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Sarah Zapiler</h3>
          <p>As a first-year Dream Director in a school where we have had a Dream Director before, Sarah knows the power of a good introduction. And the joy of a good smoothie.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_yellow.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->

    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_syreeta.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/SyreetaComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Syreeta Gates</h3>
          <p>A proud native of South Jamaica, Queens, Dream Director Syreeta Gates is bringing the blue to August Martin High School, just steps from her home.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_blue.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->

    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_shantrelle.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/Shantrelle.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Shantrelle Lewis</h3>
          <p>Shantrelle lives in Philadelphia, where she will be launching The Future Project's work very soon. While training to unleash the dreams of the City of Brotherly Love, she helped ring in the new (school) year at Hudson High in NYC.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_green.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
	
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="photos/ib_katz.jpg" alt="Future School" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/SarahKatzComp.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Sarah Katz</h3>
          <p>We like things that are big. Big ideas, big dreams, bold actions, But, as Dream Director Sarah Katz at the Henry Hudson High School was reminded, sometimes it's the little things that matter most.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_blue.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
	
 <div><!-- slide start -->
   <div class='flip-video'>
     <div class='flip-video-media'>
       <div class="flip-container">
         <div class='flip-card'>
           <figure class="flip-front">
             <img src="photos/ib_michael.jpg" alt="Future School" />
           </figure>
          <figure class="flip-back">
            <img src="photos/ib_michael.jpg" alt="Future School" />
          </figure>
         </div><!-- .flip-card -->
       </div><!-- .flip-container -->
     </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Michael Peterson</h3>
          <p>At our first school in Brooklyn, Brooklyn Theatre Arts High School in Canarsie, Dream Director Mike Peterson organized a welcome fit for kings and queens.</p>
          <nav>
            <img src="photos/arrow_blank.png" alt="Next" />
            <img src="photos/arrow_red.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
	
  </div><!-- swipe-wrap -->
</article>
