<article class='photo-stack'>
<section>
  <div class='photo-stack-caption'>
    <h3>Sparking Tomorrow's Pioneers</h3>
    <p>Dream Directors are finally coast to coast! We're thrilled to begin working closely with SFUSD to shape the implementation of the District’s long-term plan for “re-imagining public education for a new generation”—and help close the divide between the big ideas, values, and resources of the Valley and the students just a few miles away. Look out for exciting innovations coming from our Bay Area schools and partners.</p>
  </div>
  <div class='photo-stack-photos'>
	<img src="/itbegins/photos/ib_sf_4.jpg" alt="FPO" />
	<img src="/itbegins/photos/ib_sf_3.jpg" alt="FPO" />
	<img src="/itbegins/photos/ib_sf_1.jpg" alt="FPO" />
	<img src="/itbegins/photos/ib_sf_6.jpg" alt="FPO" />
    <img src="/itbegins/photos/ib_sf_5.jpg" alt="FPO" />	
  </div>
</section>
</article>

<article class="no_border">
<figure class="sized">
  <section class="row">
    <div class="g2">
      <div class="divide_solid_left">
        <br>
      </div>
    </div>
    <div class="g8">  
      <header class='divide_text'>
        <div class="line_header">The San Francisco Dream Directors</div>
      </header>
    </div>
    <div class="g2">
      <div class="divide_solid_right">
        <br>
      </div>
    </div>
  </section>
</figure>
</article>

<article class='swipe'>
  <div class='swipe-wrap'>
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="/itbegins/photos/ib_holley.jpg" alt="FPO" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/Holley.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Holley Murchison</h3>
          <p>Reporting from the middle of a "whirlwind" first day at Thurgood Marshall Academic High School, Holley talks about the magic of bringing the whole school together to celebrate each other.</p>
          <nav>
            <img src="/itbegins/photos/arrow_blank.png" alt="Next" />
            <img src="/itbegins/photos/arrow_red.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
    
    <div><!-- slide start -->
      <div class='flip-video'>
        <div class='flip-video-media'>
          <div class="flip-container">
            <div class='flip-card'>
              <figure class="flip-front">
                <img src="/itbegins/photos/ib_brandon.jpg" alt="FPO" />
              </figure>
              <figure class="flip-back">
                <video preload='none' src="//tfp-site.s3.amazonaws.com/itbegins/BrandonComp2.mp4" controls></video>
              </figure>
            </div><!-- .flip-card -->
          </div><!-- .flip-container -->
        </div><!-- .flip-video-media -->
        <div class='flip-video-caption'>
          <h3>Brandon Santiago</h3>
          <p>First days of school can often be hard, but Brandon, Dream Director at Raoul Wallenberg High School, has used his own experience as a foundation to make students and teachers say, "Wow!"</p>
          <nav>
            <img src="/itbegins/photos/arrow_blank.png" alt="Next" />
            <img src="/itbegins/photos/arrow_yellow.png" alt="Next" />
          </nav>
        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->

	 <div><!-- slide start -->
	   <div class='flip-video'>
	     <div class='flip-video-media'>
	       <div class="flip-container">
	         <div class='flip-card'>
	           <figure class="flip-front">
	             <img src="/itbegins/photos/ib_ashley.jpg" alt="FPO" />
	           </figure>
	          <figure class="flip-back">
	            <img src="/itbegins/photos/ib_ashley.jpg" alt="FPO" />
	          </figure>
	         </div><!-- .flip-card -->
	       </div><!-- .flip-container -->
	     </div><!-- .flip-video-media -->
	        <div class='flip-video-caption'>
          <h3>Ashley Mui</h3>
          <p>A Bay Area native, Ashley takes on her work at the International Studies Academy with the same imagination and fervor she brought to her years as an entrepreneur in Brooklyn.</p>
          <nav>
            <img src="/itbegins/photos/arrow_blank.png" alt="Next" />
            <img src="/itbegins/photos/arrow_green.png" alt="Next" />
          </nav>

        </div><!-- .flip-video-caption -->
      </div><!-- .flip-video -->
    </div><!-- slide end -->
  </div><!-- swipe-wrap -->
</article>
