---
layout: how
title: How it Works
---

{% assign step = 0 %}
{% for slide in site.categories.how %}
<div class='scrolling-slide slide-with-{{ slide.images.size }}-images bg-step-{{ slide.step }}' id='slide-{{ slide.title | downcase | replace: ' ','-' }}' data-step='{{ slide.step }}'>
    <div class='scrolling-slide-content'>
    {% if slide.step != step %}
      {% assign step = slide.step %}
      <header class='scrolling-slide-header'>
        <div class='slide-step'>Step {{ slide.step }}</div>
        <div class='slide-step-name'>
          {% if slide.step == 1 %}Building the Dream Team
          {% elsif slide.step == 2 %}Turning Dreams Into Action
          {% elsif slide.step == 3 %}Transforming School Culture{% endif %}
        </div>
      </header>
    {% endif %}
      <article class='animated bounceInDown'>
        <h2>{{ slide.headline }}</h2>
        <p>{{ slide.content }}</p>
      </article>
      {% for image in slide.images %}
        <img src="/how/images/{{ image }}" alt="{{ slide.headline }}">
      {% endfor %}
    </div>
  </div>
{% endfor %}
<div id="scrolling-instructions">
  Scroll Down
</div>
<a class='close' href="/mission">+</a>
