<div id="site-footer">
  <nav class='sized grid'>
    <section class='span4'>
      <h3>About Us</h3>
      <a href="/videos">Videos</a>
      <a href="/press">Press</a>
      <a href="/jobs">Jobs</a>
    </section>
    <section class='span4'>
      <h3>Say Hi</h3>
      <a href="/contact">Contact</a>
      <a href="http://facebook.com/tfpinspire" target="_blank">Facebook</a>
      <a href="http://twitter.com/dreamdirectors" target="_blank">Twitter</a>
    </section>
    <section class='span4'>
      <h3>Get Involved</h3>
      <a href="/where#principals">Principals</a>
      <a href="/volunteers">Volunteers</a>
      <a href="/donate">Donors</a>
    </section>
    <section class='span4'>
      <h3>Mailing List</h3>
        <form action="http://thefutureproject.us2.list-manage.com/subscribe/post?u=d586573f41213e0b0271aee26&amp;id=e824385c82" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div class="fields">
          <input placeholder="FIRST" name="FNAME" class="input-fname" />
          <input placeholder="LAST" name="LNAME" class="input-lname" />
        </div>
        <div class="fields">
          <input name="EMAIL" required placeholder="EMAIL" />
          <input type="submit" value="stay in the loop!" />
        </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_d586573f41213e0b0271aee26_e824385c82" value=""></div>
      </form>
    </section>
  </nav>
</div>
  <div id='site-copyright' class='sized'>
    <a href='/'><img src="/assets/v2/tfplogo.svg" alt="The Future Project" /></a>
    <p>Copyright &copy; {{ site.time | date: '%Y' }} The Future Project, Inc. 501c3.</p>
  </div>
{% include analytics.html %}
