/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/29b21b"); */
@font-face {
  font-family: 'AvenirLTStd';
  src: url("/assets/fonts/29B21B_0_0.eot");
  src: url("/assets/fonts/29B21B_0_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/29B21B_0_0.woff") format("woff"), url("/assets/fonts/29B21B_0_0.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'AvenirLTStd';
  src: url("/assets/fonts/29B21B_4_0.eot");
  src: url("/assets/fonts/29B21B_4_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/29B21B_4_0.woff") format("woff"), url("/assets/fonts/29B21B_4_0.ttf") format("truetype");
  font-weight: 600; }

@font-face {
  font-family: 'AvenirLTStd';
  src: url("/assets/fonts/29B21B_1_0.eot");
  src: url("/assets/fonts/29B21B_1_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/29B21B_1_0.woff") format("woff"), url("/assets/fonts/29B21B_1_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: 'Bebas Neue';
  src: url("/assets/fonts/BebasNeue-webfont.eot");
  src: url("/assets/fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/BebasNeue-webfont.woff") format("woff"), url("/assets/fonts/BebasNeue-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-color: #121e29;
  color: #a5aeb2;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

body {
  font-weight: 400;
  font-family: "AvenirLTStd", sans-serif;
  line-height: 1.4em;
  font-size: 18px; }

a {
  color: #80dbf5;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-weight: bold;
  font-family: 'Bebas Neue', 'Impact'; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: white;
  line-height: 1; }

h2 {
  font-weight: 900;
  text-transform: none;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: -.02em;
  line-height: .98;
  padding-top: 0px; }

h3 {
  font-weight: 900;
  font-size: 32px; }

h4 {
  font-weight: 900;
  color: black;
  font-size: 22px; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

i {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border-top: 1px solid #a5aeb2;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin: 0 auto;
  display: block; }

input, button, .button, textarea {
  -webkit-appearance: none;
  background: transparent;
  border: 2px solid #a5aeb2;
  border: 2px solid rgba(200, 200, 200, 0.5);
  font-family: "AvenirLTStd", sans-serif;
  padding: .5em; }
  input:focus, button:focus, .button:focus, textarea:focus {
    outline: none;
    border-color: #80dbf5; }

input[type=submit], button, .button {
  background: rgba(121, 209, 235, 0.5);
  text-transform: uppercase;
  color: white;
  border-color: #80dbf5;
  padding-top: .8em;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
  font-weight: 600; }
  input[type=submit]:hover, button:hover, .button:hover {
    background-color: #80dbf5; }

button {
  line-height: 1;
  padding-bottom: .6em !important;
  background: #80dbf5 !important; }
  button:hover {
    background: rgba(121, 209, 235, 0.5) !important; }

.btn_mini {
  font-size: .8em; }

input[type=checkbox] {
  -webkit-appearance: checkbox; }

input[type=radio] {
  -webkit-appearance: radio; }

article {
  border-bottom: 1px dotted #DFE0E0; }
  article button, article .button {
    font-size: 1.2em;
    margin-bottom: 1.4em; }

.centered {
  text-align: center; }

.page {
  background-color: white;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  transition: background 1s;
  color: #231f20; }
  .page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
    color: #121e29; }

.headline {
  color: white;
  -webkit-font-smoothing: antialiased;
  background-color: #121e29; }
  .headline h1, .headline h2, .headline h3, .headline h4, .headline h5, .headline h6 {
    color: white; }
  .headline > div {
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
    background: #80dbf5;
    background: rgba(38, 207, 255, 0.7); }
  .headline h1 {
    font-size: 5em; }

.inverted {
  background-color: #121e29;
  color: #a5aeb2;
  -webkit-font-smoothing: antialiased; }
  .inverted h1, .inverted h2, .inverted h3, .inverted h4, .inverted h5, .inverted h6 {
    color: white; }

.black {
  background-color: black;
  color: #a5aeb2;
  -webkit-font-smoothing: antialiased;
  background-size: contain;
  background-repeat: no-repeat; }
  .black h1, .black h2, .black h3, .black h4, .black h5, .black h6 {
    color: white; }

.fbs_grid {
  background: #09090a; }
  .fbs_grid article {
    border: none; }
  .fbs_grid blockquote {
    background: #80dbf5; }
  .fbs_grid blockquote * {
    color: #121e29; }

.swipe_bullet {
  border: 2px solid #80dbf5;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s; }
  .swipe_bullet.is_active {
    background: #80dbf5; }

.swipe a {
  border-bottom: 2px solid #121e29; }

.swipe[data-oneclick] {
  cursor: pointer;
  cursor: e-resize; }

.videobox nav a {
  background: #80dbf5; }
.videobox img {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }
.videobox .is_active img {
  opacity: .6; }

.filters li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  line-height: 2.4; }
  .filters li.is_active {
    color: #80dbf5; }
  .filters li:hover {
    text-decoration: underline; }

.who h2 {
  font-size: 2em;
  text-align: center;
  line-height: 1; }
.who .person {
  cursor: pointer; }
  .who .person img {
    border: 2px solid white; }
  .who .person img:hover {
    border: 2px solid #80dbf5; }
  .who .person[data-hide-bio] {
    cursor: auto; }
    .who .person[data-hide-bio] img:hover {
      border: 2px solid white; }
.who .person.is_active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(121, 209, 235, 0);
  border-bottom-color: #79d1eb;
  border-bottom-color: rgba(121, 209, 235, 0.95);
  margin-top: -9px;
  border-width: 18px;
  margin-left: -18px;
  z-index: 100; }
.who .bio_box {
  background: #80dbf5;
  background: rgba(121, 209, 235, 0.95);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); }
  .who .bio_box p {
    font-size: 1.25em;
    line-height: 1.2; }

.person_name, .person_role {
  text-transform: none;
  font-size: 1em; }

.person_name {
  white-space: nowrap; }

.person_role {
  font-weight: 400; }

.bulleted {
  list-style: disc;
  margin-left: 1.4em; }

#primary_nav {
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear, to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }
  #primary_nav a {
    font-size: .9em;
    color: white; }
    #primary_nav a:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      right: 1.4em;
      left: 1.4em;
      border-bottom: 5px solid transparent;
      -webkit-transition: border 0.3s;
      -moz-transition: border 0.3s;
      transition: border 0.3s; }
    #primary_nav a.is_active, #primary_nav a:hover {
      text-decoration: none; }
      #primary_nav a.is_active:after, #primary_nav a:hover:after {
        border-bottom: 5px solid #80dbf5;
        border-bottom: 5px solid rgba(38, 207, 255, 0.7); }
    #primary_nav a.home {
      height: 55px;
      background-image: url(/assets/arrow_white.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 35px;
      -webkit-transition: background 0.3s;
      -moz-transition: background 0.3s;
      transition: background 0.3s;
      opacity: .6; }
      #primary_nav a.home span {
        display: none; }
      #primary_nav a.home.is_active, #primary_nav a.home:hover {
        opacity: 1; }
        #primary_nav a.home.is_active:after, #primary_nav a.home:hover:after {
          display: none; }
  #primary_nav em {
    font-weight: 900; }

#primary_footer {
  -webkit-font-smoothing: antialiased;
  position: relative; }
  #primary_footer section, #primary_footer footer {
    font-size: .75em; }
  #primary_footer h3 {
    margin-bottom: .4em;
    text-transform: uppercase; }
  #primary_footer a {
    color: #a5aeb2;
    text-transform: uppercase; }
  #primary_footer footer {
    text-transform: uppercase; }

.donate_box {
  background: #eee;
  border: 2px solid white;
  color: #121e29; }
  .donate_box h2 {
    font-size: 2em;
    line-height: 1; }
  .donate_box .text_input_container {
    border: 2px solid #ccc;
    border-radius: .25em;
    padding: 0 0.7em;
    background: white; }
    .donate_box .text_input_container input, .donate_box .text_input_container label {
      font-size: 1.5em; }
    .donate_box .text_input_container label {
      padding-top: .1em; }
    .donate_box .text_input_container input {
      border: none; }
  .donate_box label, .donate_box input {
    text-align: right; }
  .donate_box input[type=submit] {
    text-align: center;
    border-radius: .25em;
    font-size: 1.25em; }

.tighter_lines * {
  line-height: 1; }
.tighter_lines a {
  font-weight: normal;
  font-size: .8em; }
.tighter_lines .g3 h5 {
  padding: 0.35em 1.4em; }

.map_label {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 3px;
  line-height: 1.4;
  white-space: nowrap;
  font-size: 8px;
  border-radius: none;
  font-family: 'lucida grande', sans-serif; }

.map_city {
  cursor: pointer; }
  .map_city:hover {
    color: #80dbf5; }

.map_filter {
  -webkit-user-select: none;
  cursor: pointer; }
  .map_filter.is_disabled {
    opacity: .5; }

.white-header #primary_nav {
  background: none;
  color: #231f20; }
  .white-header #primary_nav a {
    color: #231f20; }
    .white-header #primary_nav a:after {
      display: none; }
    .white-header #primary_nav a.is_active, .white-header #primary_nav a:hover {
      text-decoration: none;
      color: #80dbf5; }

.flip-video-caption, article.no-border, article.photo-stack {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s; }

.video-playing .flip-video-caption, .video-playing article.no-border, .video-playing article.photo-stack {
  opacity: .1; }

#alicia-feature * {
  font-family: "AvenirLTStd", sans-serif;
  color: white;
  font-weight: bold;
  text-align: left; }

#itbegins-feature a {
  color: #433F3C;
  border-bottom: 2px solid #433F3C; }
#itbegins-feature a:hover {
  background: #307bc0;
  color: white; }

#homepage-feature a.button:hover {
  color: white !important; }

html, body {
  height: 100%;
  min-width: 920px; }

#primary_nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 1px;
  z-index: 1000000; }
  #primary_nav em {
    display: block;
    font-size: 1.4em;
    font-weight: 600; }
  #primary_nav nav {
    *zoom: 1;
    max-width: 57.5em;
    margin-left: auto;
    margin-right: auto; }
    #primary_nav nav:before, #primary_nav nav:after {
      content: " ";
      display: table; }
    #primary_nav nav:after {
      clear: both; }
  #primary_nav a {
    padding: .5em 0;
    position: relative;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    #primary_nav a:last-child {
      margin-right: 0; }
  #primary_nav a.home {
    margin-top: -2px; }

#primary_footer {
  *zoom: 1;
  max-width: 57.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.4em;
  position: relative; }
  #primary_footer:before, #primary_footer:after {
    content: " ";
    display: table; }
  #primary_footer:after {
    clear: both; }
  #primary_footer nav {
    margin-bottom: 2.8em; }
  #primary_footer a {
    display: block; }
  #primary_footer footer {
    border-top: 1px solid #a5aeb2;
    padding-top: 1.4em;
    *zoom: 1;
    position: relative; }
    #primary_footer footer:before, #primary_footer footer:after {
      content: " ";
      display: table; }
    #primary_footer footer:after {
      clear: both; }
    #primary_footer footer img {
      display: block;
      height: 14em;
      width: 14em;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -7em 0 0 -7em;
      border: 2em solid #121e29;
      border-radius: 50%; }

#map_canvas {
  width: 100%;
  height: 449px; }

#ob_content {
  box-sizing: content-box; }

#ob_share {
  display: none; }

#waiting_list_form {
  display: none; }

#school_overlays {
  display: none; }

#itbegins-pjax-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#alicia-feature {
  position: relative;
  font-size: 24px;
  line-height: 1.4; }
  #alicia-feature h2 {
    font-size: 1em;
    line-height: 1.1;
    letter-spacing: 1px; }
  #alicia-feature p {
    font-size: 1em; }
  #alicia-feature .caption {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 40%;
    bottom: 0; }
  #alicia-feature p {
    margin-top: 1em; }
  #alicia-feature img {
    display: block;
    float: left;
    width: 3em;
    height: 3em;
    margin-left: 1em; }
  #alicia-feature span {
    display: block;
    float: left; }
  #alicia-feature a img:first-child {
    display: block; }
  #alicia-feature a img:last-child {
    display: none; }
  #alicia-feature a:hover img:first-child {
    display: none; }
  #alicia-feature a:hover img:last-child {
    display: block; }
  @media screen and (min-width: 1024px) {
    #alicia-feature {
      font-size: 28px; } }
  @media screen and (min-width: 1104px) {
    #alicia-feature {
      font-size: 30px; } }
  @media screen and (min-width: 1204px) {
    #alicia-feature {
      font-size: 34px; } }

#homepage-slideshow footer {
  bottom: 1em;
  left: auto;
  right: 1em; }

/* basic grid system */
.outer_container, .sized {
  *zoom: 1;
  max-width: 57.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.4em; }
  .outer_container:before, .outer_container:after, .sized:before, .sized:after {
    content: " ";
    display: table; }
  .outer_container:after, .sized:after {
    clear: both; }

.row {
  margin-bottom: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.text_columns {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 1.4em;
  -moz-column-gap: 1.4em;
  column-gap: 1.4em; }

.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10, .g11, .g12 {
  min-height: 1px;
  overflow: hidden; }

.g1 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .g1:last-child {
    margin-right: 0; }

.g2 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .g2:last-child {
    margin-right: 0; }

.g3 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .g3:last-child {
    margin-right: 0; }

.g4 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .g4:last-child {
    margin-right: 0; }

.g5 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .g5:last-child {
    margin-right: 0; }

.g6 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .g6:last-child {
    margin-right: 0; }

.g7 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .g7:last-child {
    margin-right: 0; }

.g8 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .g8:last-child {
    margin-right: 0; }

.g9 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .g9:last-child {
    margin-right: 0; }

.g10 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .g10:last-child {
    margin-right: 0; }

.g11 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .g11:last-child {
    margin-right: 0; }

.g12 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .g12:last-child {
    margin-right: 0; }

.s1 {
  margin-left: 8.5298%; }

.s2 {
  margin-left: 17.05961%; }

.s3 {
  margin-left: 25.58941%; }

.s4 {
  margin-left: 34.11922%; }

.s5 {
  margin-left: 42.64902%; }

.s6 {
  margin-left: 51.17883%; }

.s7 {
  margin-left: 59.70863%; }

.s8 {
  margin-left: 68.23843%; }

.s9 {
  margin-left: 76.76824%; }

.s10 {
  margin-left: 85.29804%; }

.s11 {
  margin-left: 93.82785%; }

.s12 {
  margin-left: 102.35765%; }

.fbs_grid {
  *zoom: 1;
  padding: 0;
  margin-top: 55px; }
  .fbs_grid:before, .fbs_grid:after {
    content: " ";
    display: table; }
  .fbs_grid:after {
    clear: both; }
  .fbs_grid img {
    width: 100%;
    height: auto; }
  .fbs_grid article {
    width: 25%;
    float: left;
    position: relative; }
  @media screen and (min-width: 1280px) {
    .fbs_grid article {
      width: 20%; } }
  @media screen and (min-width: 1600px) {
    .fbs_grid article {
      width: 16.666666666667%; } }
  .fbs_grid blockquote {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.4em;
    opacity: 0; }
  .fbs_grid article:hover {
    z-index: 1000; }
    .fbs_grid article:hover blockquote {
      opacity: 1;
      display: block; }

/* END GRID */
.homepage-feature {
  background-color: black;
  background-position: center center;
  background-size: cover;
  background-image: url(/assets/homepage_bg.jpg);
  height: 0;
  padding-bottom: 42.4%;
  color: white;
  text-align: center;
  position: relative; }
  .homepage-feature header {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -114px;
    height: 254px; }
    .homepage-feature header * {
      color: white; }
  .homepage-feature h1 {
    font-size: 6em;
    line-height: 1; }
  .homepage-feature h3 {
    font-size: 2em;
    letter-spacing: .1em;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase; }
  .homepage-feature button, .homepage-feature .button {
    font-size: 1.4em;
    margin-top: .4em;
    font-weight: 400; }

.itbegins-feature {
  background-color: #666;
  background-position: center center;
  background-size: cover;
  height: 0;
  padding-bottom: 42.4%;
  color: white;
  position: relative; }
  .itbegins-feature header {
    position: absolute;
    max-width: 100%;
    width: 100%;
    bottom: 0; }
  .itbegins-feature h1 {
    font-family: "AvenirLTStd", sans-serif;
    color: white;
    line-height: 1;
    font-size: 3em;
    text-shadow: -2px 1px 8px rgba(0, 0, 0, 0.5); }
  .itbegins-feature .button {
    background: rgba(38, 207, 255, 0.7);
    border: 1px solid;
    display: inline-block;
    margin: 1em 0; }

.feature video {
  width: 100% !important;
  pointer-events: none; }
.feature iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.headline {
  padding: 12em 0 2.8em;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }
  .headline > div {
    margin-left: 20%;
    padding: 1.4em; }
  .headline h1 {
    text-align: left;
    line-height: 0.8; }

html.no-touch .headline {
  background-attachment: fixed; }

.fields {
  *zoom: 1; }
  .fields:before, .fields:after {
    content: " ";
    display: table; }
  .fields:after {
    clear: both; }
  .fields label {
    display: none; }
  .fields input {
    display: block;
    width: 100%;
    margin-bottom: .4em;
    line-height: 1.4; }
  .fields .input_inline {
    display: block;
    float: left;
    width: 49%;
    margin-bottom: .2em; }
    .fields .input_inline:first-child {
      margin-right: 2%; }
  .fields input[type=submit] {
    font-weight: 600;
    font-family: "AvenirLTStd", sans-serif;
    cursor: pointer; }

article img + h4 {
  margin-top: .4em; }
article img {
  max-width: 100%;
  display: block; }
article p {
  margin-bottom: 1.4em; }
  article p:last-child {
    margin-bottom: 0; }
article header, article section, article footer {
  *zoom: 1;
  max-width: 57.5em;
  margin-left: auto;
  margin-right: auto;
  margin: 1.4em auto;
  padding: 0 1.4em; }
  article header:before, article header:after, article section:before, article section:after, article footer:before, article footer:after {
    content: " ";
    display: table; }
  article header:after, article section:after, article footer:after {
    clear: both; }
article footer {
  padding-bottom: 1.4em; }
article h1, article h2, article h3, article h4, article h5, article h6, article p {
  display: block; }
article.centered > * {
  max-width: 808px;
  margin-left: auto;
  margin-right: auto; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  border-bottom: none !important;
  margin-top: -1px; }
  .swipe img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .swipe .row {
    margin-bottom: 0; }
  .swipe p {
    margin-top: 1em; }
  .swipe .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden; }
    .swipe .caption p {
      font-size: .9em;
      line-height: 1.2; }
    .swipe .caption .sized {
      padding: 0 2.8em;
      overflow: auto; }
    .swipe .caption h2 {
      margin-top: 1.4em; }
  .swipe .big_image {
    width: 100%; }

.swipe_header {
  margin: 1.4em auto; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 2.8em; }

.swipe footer {
  position: absolute;
  bottom: -1.4em;
  left: 0;
  right: 0;
  z-index: 1000000; }

.swipe_bullet {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  margin-right: .3em;
  cursor: pointer; }

.videobox {
  position: relative; }
  .videobox nav a {
    display: block;
    margin-bottom: 5.7%; }

.video_player {
  padding-bottom: 56.25%;
  background: #a5aeb2;
  position: relative; }
  .video_player iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

.video_caption {
  margin-top: 1.4em; }

.who {
  *zoom: 1;
  max-width: 57.5em;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.4em;
  padding-left: 1.4em; }
  .who:before, .who:after {
    content: " ";
    display: table; }
  .who:after {
    clear: both; }
  .who section {
    padding-right: 0;
    padding-left: 0; }
  .who .person {
    position: relative;
    width: 25%;
    margin-bottom: 1.4em;
    float: left;
    z-index: 3;
    background: white; }
  .who .bio {
    display: none; }
  .who .bio_box {
    clear: both;
    z-index: 100;
    margin: 1.4em 0; }
    .who .bio_box .bio_box_content {
      *zoom: 1;
      max-width: 57.5em;
      margin-left: auto;
      margin-right: auto;
      padding: 1.4em; }
      .who .bio_box .bio_box_content:before, .who .bio_box .bio_box_content:after {
        content: " ";
        display: table; }
      .who .bio_box .bio_box_content:after {
        clear: both; }
  .who img {
    margin-bottom: .4em;
    width: 100%;
    height: auto; }
  .who ul {
    *zoom: 1;
    display: block; }
    .who ul:before, .who ul:after {
      content: " ";
      display: table; }
    .who ul:after {
      clear: both; }
  .who li {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .who li:last-child {
      margin-right: 0; }
    .who li:nth-child(4n) {
      margin-right: 0; }
    .who li:nth-child(4n+1) {
      clear: left; }

.filters, .inline-centered {
  text-align: center; }
  .filters li, .inline-centered li {
    display: inline-block;
    padding: 0 1.4em;
    cursor: pointer; }
    .filters li img, .inline-centered li img {
      display: inline;
      height: 1em;
      width: auto; }

.mc-field-group {
  margin-bottom: 1.4em;
  *zoom: 1;
  display: block; }
  .mc-field-group:before, .mc-field-group:after {
    content: " ";
    display: table; }
  .mc-field-group:after {
    clear: both; }
  .mc-field-group label {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: right; }
    .mc-field-group label:last-child {
      margin-right: 0; }
  .mc-field-group input {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .mc-field-group input:last-child {
      margin-right: 0; }
  .mc-field-group input[type=submit] {
    margin-left: 34.11922%; }

.swipe[data-auto] .swipe-wrap > div {
  padding-bottom: 0; }

.map_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 449px;
  padding: 1.4em;
  overflow: auto;
  z-index: 1000001;
  background: black;
  background: rgba(0, 0, 0, 0.85); }
  .map_overlay .school {
    *zoom: 1;
    max-width: 57.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .map_overlay .school:before, .map_overlay .school:after {
      content: " ";
      display: table; }
    .map_overlay .school:after {
      clear: both; }
  .map_overlay img {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .map_overlay img:last-child {
      margin-right: 0; }
  .map_overlay .school_info {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .map_overlay .school_info:last-child {
      margin-right: 0; }
  .map_overlay h1 {
    font-size: 2em;
    line-height: .9;
    margin-bottom: .5em; }
  .map_overlay label, .map_overlay h3 {
    display: inline; }
  .map_overlay h3 {
    font-size: 1em; }
  .map_overlay label {
    text-transform: uppercase; }
    .map_overlay label:after {
      content: ': '; }
  .map_overlay p {
    color: white;
    margin-top: 1.4em;
    font-size: .8em;
    line-height: 1.3; }

.close_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.4em;
  height: 1.4em;
  cursor: pointer; }
  .close_button:before, .close_button:after {
    background: #80dbf5;
    height: 6px;
    width: 100%;
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    left: 0; }
  .close_button:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close_button:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.next_button {
  color: #80dbf5;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0; }

.application_form input {
  display: block;
  width: 100%; }
.application_form input[type=submit] {
  font-size: 1.5em; }
.application_form .multiselect label {
  font-size: .75em;
  white-space: nowrap; }
.application_form .multiselect label input {
  display: inline;
  width: auto; }

.hidden {
  display: none; }

.recruitment_banner img {
  margin-left: auto;
  margin-right: auto; }

.hover_image_hovered {
  display: none; }

.hover_image:hover .hover_image_default {
  display: none; }
.hover_image:hover .hover_image_hovered {
  display: block; }

.donate_box {
  margin-top: 2.8em;
  margin-bottom: 2.8em;
  padding: 1.4em; }
  .donate_box .radio_buttons {
    margin-bottom: 0.7em; }
  .donate_box input[type=submit] {
    width: 100%; }

.text_input_container {
  display: table;
  width: 100%;
  margin: 0.7em 0; }
  .text_input_container > * {
    display: table-cell;
    vertical-align: middle;
    line-height: 1; }
  .text_input_container input {
    width: 100%; }

.inline_images img {
  display: inline;
  height: 1em; }

.inline_list li {
  display: inline-block; }
  .inline_list li:after {
    content: ', '; }
  .inline_list li:last-child:after {
    content: ''; }

.no_headline {
  padding-top: 30px; }

.no-border {
  border: none; }

.cities-nav {
  *zoom: 1;
  max-width: 57.5em;
  margin-left: auto;
  margin-right: auto; }
  .cities-nav:before, .cities-nav:after {
    content: " ";
    display: table; }
  .cities-nav:after {
    clear: both; }
  .cities-nav li {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%;
    font-weight: bold;
    height: 152px;
    text-align: center; }
    .cities-nav li:last-child {
      margin-right: 0; }
    .cities-nav li a {
      display: block;
      height: 100%;
      width: 100%;
      color: black; }

.city-icons img:last-child {
  display: none; }

.city.is-active .city-icons img:first-child, .no-touch .city:hover .city-icons img:first-child {
  display: none; }
.city.is-active .city-icons img:last-child, .no-touch .city:hover .city-icons img:last-child {
  display: block; }

.photo-stack {
  *zoom: 1;
  max-width: 57.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  min-height: 325px; }
  .photo-stack:before, .photo-stack:after {
    content: " ";
    display: table; }
  .photo-stack:after {
    clear: both; }

.photo-stack-caption {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .photo-stack-caption:last-child {
    margin-right: 0; }
  .photo-stack-caption p {
    margin-top: 1em; }

.photo-stack-photos {
  z-index: 1000;
  position: relative;
  height: 0;
  padding-bottom: 28.125%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg); }
  .photo-stack-photos:last-child {
    margin-right: 0; }
  .photo-stack-photos img {
    position: absolute;
    top: 0;
    left: 0;
    border: 1em solid #f1f0ec;
    cursor: move;
    background: #f1f0ec;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1); }
  .photo-stack-photos img:first-child {
    z-index: 10; }
  .photo-stack-photos img:nth-child(2) {
    z-index: 9;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg); }
  .photo-stack-photos img:nth-child(3) {
    z-index: 8;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg); }
  .photo-stack-photos img:nth-child(4) {
    z-index: 7;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  .photo-stack-photos img:nth-child(5) {
    z-index: 6;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg); }
  .photo-stack-photos img:nth-child(6) {
    z-index: 5;
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    transform: rotate(9deg); }

.flip-video {
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  *zoom: 1;
  max-width: 57.5em;
  margin-left: auto;
  margin-right: auto;
  background: white; }
  .flip-video:before, .flip-video:after {
    content: " ";
    display: table; }
  .flip-video:after {
    clear: both; }

.flip-video-media {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg); }
  .flip-video-media:last-child {
    margin-right: 0; }
  .flip-video-media video {
    width: 100%;
    height: 100%;
    background: black; }

.flip-video-caption {
  padding-top: 4px;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .flip-video-caption:last-child {
    margin-right: 0; }
  .flip-video-caption nav {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-left: -80px;
    display: block;
    margin-left: -80px; }
    .flip-video-caption nav img {
      width: 106px;
      height: 88px;
      position: relative;
      left: 12px; }
    .flip-video-caption nav img:last-child {
      display: none; }

.no-touch .flip-video-caption nav:hover img:first-child {
  display: none; }
.no-touch .flip-video-caption nav:hover img:last-child {
  display: block; }

.flip-container {
  width: 100%;
  height: 320px;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px; }

.flip-card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform .6s;
  -webkit-transform-style: preserve-3d; }

.flip-card.flipped {
  -webkit-transform: rotateX(-180deg); }
  .flip-card.flipped video {
    display: block; }
  .flip-card.flipped .flip-back {
    z-index: 3; }

.flip-card figure {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border: 1em solid #f1f0ec;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  position: absolute;
  -webkit-backface-visibility: hidden; }

.flip-card .flip-front {
  background: #333;
  cursor: pointer;
  z-index: 2; }

.flip-card .flip-back {
  z-index: 1;
  background: #444;
  -webkit-transform: rotateX(-180deg); }

.touch .page {
  overflow-x: hidden;
  overflow-y: visible; }

/*
 * version: 3.0.0
 * package: OrangeBox
 * author: David Paul Hamilton - http://orangebox.davidpaulhamilton.net
 * copyright: Copyright (c) 2011 David Hamilton / DavidPaulHamilton.net All rights reserved.
 * license: GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 */
#ob_overlay {
  background-color: #333;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

#ob_container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1001; }

#ob_float {
  float: left;
  height: 50%;
  min-width: 100%; }

#ob_content {
  clear: both;
  cursor: default;
  position: relative;
  margin: 22px auto 44px;
  background-color: #fff;
  border: 0 solid #fff;
  -webkit-box-shadow: 0px 0px 8px 2px #222222;
  -moz-box-shadow: 0px 0px 8px 2px #222222;
  line-height: 0;
  display: none;
  z-index: 1003; }

#ob_iframe {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  font-size: 0; }

#ob_caption {
  color: #333;
  background-color: #fff;
  font-size: small; }

#ob_caption p {
  padding: 0;
  margin: 10px;
  cursor: auto;
  line-height: 1.625em; }

#ob_video_wrapper {
  background: #000; }

#ob_image {
  display: block;
  margin: 0 auto; }

#ob_inline {
  overflow: auto;
  cursor: auto; }

#ob_inline .inline_content {
  padding: 20px;
  line-height: 1.625em; }

#ob_load {
  -moz-border-radius: 5px;
  background: url(loading.gif) no-repeat center;
  background-color: #fff;
  border-radius: 5px;
  height: 40px;
  left: 50%;
  position: fixed;
  top: 50%;
  width: 40px;
  margin: -25px 0 0 -25px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 8px 2px #222222;
  -moz-box-shadow: 0px 0px 8px 2px #222222;
  z-index: 1002; }

#ob_error {
  text-align: center;
  padding: 10px; }

#ob_close {
  background: url(buttons.png);
  cursor: pointer;
  height: 30px;
  left: -26px;
  position: absolute;
  top: -26px;
  width: 30px;
  z-index: 1005; }

#ob_title {
  color: #fff;
  left: auto;
  position: absolute;
  margin-left: 15px;
  right: 0;
  text-align: right;
  z-index: 1004;
  line-height: 1em;
  cursor: auto; }

#ob_left, #ob_right {
  bottom: 8px;
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 50px;
  z-index: 1004; }

#ob_left {
  left: -53px; }

#ob_right {
  right: -53px; }

#ob_left-ico, #ob_right-ico {
  cursor: pointer;
  display: block;
  height: 30px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  width: 30px;
  z-index: 1004; }

#ob_left-ico {
  background: url(buttons.png) center;
  right: 20px; }

#ob_right-ico {
  background: url(buttons.png) right;
  left: 20px; }

#ob_left:hover, #ob_right:hover {
  visibility: visible; }

#ob_dots {
  position: absolute;
  bottom: -24px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%; }

#ob_dots li {
  height: 8px;
  list-style: none;
  width: 8px;
  margin: 3px;
  -moz-border-radius: 4px;
  background-color: #666;
  border-radius: 4px;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline; }

#ob_dots .current {
  background-color: #cccccc !important; }

#ob_share {
  margin-left: 8px; }
