html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  line-height: 1.3333333333333333333333333333333333;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
