#contact-box {
  padding: 90px 0 120px;
}

#contact-box img {
  width: 100%;
  height: auto;
}

#contact-box .headline { font-size: 45px; }
#contact-box article {
  padding: 30px 30px 15px;
  border: 3px solid;
  width: 420px;
  margin: 0 auto;
}

