#dd-recruitment-banner {
  background-image: url(/assets/images/dd-homepage-l.png), url(/assets/images/dd-homepage-r.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
  background-size: contain, contain;
}

#dd-recruitment-banner img {
  height: 255px;
  margin: 0 auto 30px;
}
#dd-recruitment-banner .button {
  -webkit-transform: rotate(-2.5deg);
}
