#dd-recruitment-banner {
  background-image: url(/assets/images/dd-homepage-l.png), url(/assets/images/dd-homepage-r.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
  background-size: contain, contain;
}

#dd-recruitment-banner img {
  height: 305px;
  width: auto;
  margin: 0 auto 30px;
}
#dd-recruitment-banner .button {
  -webkit-transform: rotate(-2.5deg);
  -moz-transform: rotate(-2.5deg);
  -ms-transform: rotate(-2.5deg);
  transform: rotate(-2.5deg);
}

#student-hero {
  padding-left: 30px;
  padding-top: 90px;
}
#student-hero img {
  right: -120px;
}

#fbs-video-ajax-target iframe {
  border: none;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -345px;
  width: 690px;
  height: 390px;

}
.fbs-video-container {
  position: relative;
  height: 420px;
  background-size: cover;
  background-position: center center;
  margin-left: 45px;
  margin-right: 45px;
  overflow: hidden;
}

.fbs-video-poster {
  position: absolute;
  top: 0;
  left: -630px;
  height: 420px;
  right: 0;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 0;
}
.fbs-video-quote-container {
  position: relative;
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -45px;
  bottom: 30px;
  width: 510px;
  padding: 15px 30px;
  color: white;
}
.quote-content {
  font-size: 35px;
  font-weight: 900;
  line-height: 1.15;
}
.quote-source {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top:5px;
  color: rgba(255,255,255,.7);
}
.fbs-video-quote-container .button {
  font-size: 20px;
}

#student-videos-container {
  position: relative;
  margin-left: 45px;
  margin-right: 45px;
}
.student-videos {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  line-height: 1;
  word-spacing: 0;
  text-align: center;
  border-top: 8px solid white;
  background: white;
}
.student-video {
  display: inline-block;
  width: 300px;
  opacity: .4;
  border-right: solid 4px white;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
.student-video img {
  height: 115px;
  width: auto;
}
.student-video a {
  display: block;
}
.student-video:hover, .student-video.active {
  opacity: 1;
}

.fbs-video-container, .student-video {
  background: rgb(17,62,153); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(17,62,153,1) 0%, rgba(34,91,196,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(17,62,153,1)), color-stop(100%,rgba(34,91,196,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(17,62,153,1) 0%,rgba(34,91,196,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(17,62,153,1) 0%,rgba(34,91,196,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(17,62,153,1) 0%,rgba(34,91,196,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(17,62,153,1) 0%,rgba(34,91,196,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#113e99', endColorstr='#225bc4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.fbs-video-container-project-tv {
background: rgb(255,199,0); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,199,0,1) 0%, rgba(253,171,17,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,199,0,1)), color-stop(100%,rgba(253,171,17,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,199,0,1) 0%,rgba(253,171,17,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,199,0,1) 0%,rgba(253,171,17,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,199,0,1) 0%,rgba(253,171,17,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,199,0,1) 0%,rgba(253,171,17,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#fdab11',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.fbs-video-container-write-your-own-story {
background: rgb(0,173,242); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(0,173,242,1) 0%, rgba(0,132,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,173,242,1)), color-stop(100%,rgba(0,132,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(0,173,242,1) 0%,rgba(0,132,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(0,173,242,1) 0%,rgba(0,132,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(0,173,242,1) 0%,rgba(0,132,254,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(0,173,242,1) 0%,rgba(0,132,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adf2', endColorstr='#0084fe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.fbs-video-container-front-back-pop {
background: rgb(255,190,6); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,190,6,1) 0%, rgba(254,160,58,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,190,6,1)), color-stop(100%,rgba(254,160,58,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,190,6,1) 0%,rgba(254,160,58,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,190,6,1) 0%,rgba(254,160,58,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,190,6,1) 0%,rgba(254,160,58,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,190,6,1) 0%,rgba(254,160,58,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbe06', endColorstr='#fea03a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.fbs-video-container-music-makes-me-feel-power, .fbs-video-container-every-person-is-a-story {
background: rgb(255,190,6); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(79,8,50,1) 0%, rgba(90,9,44,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(79,8,50,1)), color-stop(100%,rgba(90,9,44,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(79,8,50,1) 0%,rgba(90,9,44,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(79,8,50,1) 0%,rgba(90,9,44,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(79,8,50,1) 0%,rgba(90,9,44,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(79,8,50,1) 0%,rgba(290,9,44,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f0832', endColorstr='#5a092c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.fbs-video-container-front-back-pop .fbs-video-poster {
  left: 0;
  background-position: left center;
}
.fbs-video-container-gotbeauty .fbs-video-poster {
  background-position: left center;
  left: 0;
}

.fbs-video-container-gotbeauty {
background: rgb(27,68,186); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(27,68,186,1) 0%, rgba(72,2,183,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(27,68,186,1)), color-stop(100%,rgba(72,2,183,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(27,68,186,1) 0%,rgba(72,2,183,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(27,68,186,1) 0%,rgba(72,2,183,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(27,68,186,1) 0%,rgba(72,2,183,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(27,68,186,1) 0%,rgba(72,2,183,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b44ba', endColorstr='#4802b7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#press-quotes {
  position: relative;
}
#press-quotes-viewer {
  height: 300px;
  width: 765px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  background:transparent;
}
.press-quote .vertically-centered {
  height: 300px;
}
.press-quote {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}
.press-quote.active { opacity: 1; }

.press-quote-content {
  font-size: 33px;
  line-height: 1.2;
  margin-bottom: 30px;
  padding-top: 75px;
}
#press-quotes-nav {
  background: rgba(120,120,120,.08);
  display: table;
  margin-bottom: 45px;
  z-index: 2;
  position: relative;
  width: 810px;
  margin-top: 15px;
  height: 120px;
}

#press-quotes-nav > div {
  display: table-cell;
}
#press-quotes-nav img {
  opacity: .25;
  height: 120px;
  width: auto;
  cursor: pointer;
}
#press-quotes-nav .active img {
  opacity: 1;
}
#press-quotes:after {
  content: '';
  display: block;
  position: absolute;
  top: 45px;
  left: 49%;
  height: 100%;
  width: 495px;
  margin-left: -585px;
  pointer-events: none;
  background: #fff url(/assets/images/homepage-quotes-bg.jpg) no-repeat left top;
  background-size: contain;
  z-index: 1;
}

#impressive-looking-logos {
  width: 960px;
  height: auto;
}
