#page-header-impact {
  background-image: url(/assets/images/impact-header.jpg);
  background-color: #000;
  background-size: cover;
  background-position: left top;
}

body.impact .classy-serif:after {
  margin-bottom: 0;
}
body.impact .video-list { padding-top: 0; }
