#page-header-jobs {
  background-image: url(/assets/images/jobs-header.jpg);
  background-color: #080f1f;
  background-size: cover;
  background-position: center center;
}
.job-listing img { width: 240px; height: 218px; }
.job-listing:hover, .job-listing.active { background: #84dbf3; }
.job-listing .job-title {
  margin-top: 195px;
  text-align: center;
}
.job-title {
  font-size: 20px;
  padding: 0 15px;
  font-weight: 900;
  line-height: 1.15;
}

.job-listing {
  height: 255px;
  background: #fafafa;
  position: relative;
}
.job-listing .swapping-icons {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.job-details { display: none; }

.job-listing.active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(121, 209, 235, 0);
  border-top-color: #84dbf5;
  margin-top: 0;
  border-width: 15px;
  margin-left: -15px;
  z-index: 100;
}

.job-description {
  padding-top: 15px;
}
.job-description:after {
  content: '';
  clear: both;
  display: block;
}
.job-description p {
  margin-top: 0;
  width: 750px;
  float: left;
  padding: 15px;
  border: 0px solid #f3f3f3;
}
.job-description ul {
  float: left;
  width: 240px;
  margin: 0 0 0 15px;
  padding: 0;
  list-style: square;
  list-style-position: inside;
  padding: 15px;
  border: 0px solid #f3f3f3;
}

#meet-the-team img:first-of-type {
  left: 90px;
}
#meet-the-team img:last-of-type {
  right: 75px;
}

#meet-the-team h2 {
	top: 15px;
	padding-top: 15px;
}

#meet-the-team p {
	padding-bottom: 15px;
}
