.loading {
  height: 2em;
  width: 2em;
  margin: 15px auto;
  position:relative;
  -webkit-animation: rotation .8s infinite ease-in-out;
  -moz-animation: rotation .8s infinite ease-in-out;
  -o-animation: rotation .8s infinite ease-in-out;
  animation: rotation .8s infinite ease-in-out;
  border-left:3px solid #1d456b;
  border-right:3px solid #1d456b;
  border-bottom:3px solid #1d456b;
  border-top:3px solid #84dbf5;
  border-radius:100%;
  text-indent: -99999em;
  overflow: hidden;
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}
