#page-header-mission {
  background-image: url(/assets/images/mission-header.jpg);
  background-color: #080f1f;
  background-size: cover;
  background-position: right top;
}
body.mission #how-it-works-teaser {
  margin-bottom: 60px;
}
#how-it-works-teaser:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  border-bottom: 10px solid #84dbf5;
}
#how-it-works-teaser img:first-of-type {
  left: 45px;
}
#join-the-mission img:first-of-type {
  left: 60px;
}
#join-the-mission img:last-of-type {
  right: 90px;
}

#join-the-mission h2 {
	top: 15px;
	padding-top: 15px;
}

#join-the-mission p {
	padding-bottom: 15px;
}
