.sized {
  width: 1005px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.sized-narrow {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.sized-extra-narrow {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.page-header {
  padding: 120px 0 90px;
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
}

.pad { padding: 30px; }

.swapping-icons { position: relative; }
.swapping-icons img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.swapping-icons img:last-child { opacity: 0; }
.swapping-icons:hover img:first-child { opacity: 0; }
.swapping-icons:hover img:last-child { opacity: 1; }
.active .swapping-icons img:first-child { opacity: 0; }
.active .swapping-icons img:last-child { opacity: 1; }

.button {
  display: inline-block;
  line-height: 1;
  padding: 10px 10px 5px;
}

.grid {
  width: 1005px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}
.expandable {
  cursor: pointer;
  position: relative;
}
.expandable-content {
  display: none;
}
.grid-info-box {
  clear: both;
  width: 100%;
  height: 240px;
  overflow: auto;
  position: relative;
}
.span2 {
  float: left;
  width: 155px;
  box-sizing: border-box;
  margin: 0 15px 15px 0;
}
.span4 {
  float: left;
  width: 240px;
  box-sizing: border-box;
  margin: 0 15px 15px 0;
}
.span4:nth-of-type(4n), .span2:nth-of-type(6n) {
  margin-right: 0;
}


.inline-nav-outer {
  position: relative;
  overflow: hidden;
}
.inline-nav-inner {
  width: 100%;
  list-style: none;
  margin: 15px auto;
  padding: 0;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}
.inline-nav-item {
  display: inline-block;
  padding: 15px 15px 15px 30px;
}
.inline-nav-outer:before, .inline-nav-outer:after {
  content: '';
  display: block;
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.inline-nav-outer:before {
  left: 0;
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.inline-nav-outer:after {
  right: 0;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.slideshow {
  height: 360px;
}
.slideshow > * {
  height: 100%;
}

.article-with-photo-l *, .article-with-photo-r *, .article-with-photo-l-r * { position: relative; z-index: 2; }

.article-with-photo-l {
  min-height: 400px;
  padding-right: 390px;
}
.article-with-photo-l img {
  position: absolute;
  bottom: 0;
  right: -45px;
  height: 100%;
  height: calc(100% - 30px);
  width: auto;
  z-index: 1;
}
.article-with-photo-r {
  min-height: 400px;
  padding-left: 390px;
}
.article-with-photo-r img {
  position: absolute;
  bottom: 0;
  left: -45px;
  height: 100%;
  height: calc(100% - 30px);
  width: auto;
  z-index: 1;
}
.article-with-photo-l-r {
  min-height: 400px;
  padding: 0 300px;
  text-align: center;
}
.article-with-photo-l-r img {
  position: absolute;
  bottom: 0;
  height: 100%;
  height: calc(100% - 30px);
  width: auto;
  z-index: 1;
}
.article-with-photo-l-r img:first-of-type {
  left: -45px;
}
.article-with-photo-l-r img:last-of-type {
  right: -45px;
}
.article-short {
  min-height: 300px;
}
