#press-links {
  padding-top: 30px;
}
.press-link {
  overflow: hidden;
  position: relative;
  height: 240px;
}

.press-link-info {
  background: rgba(255,255,255,.8);
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .3s;
  -webkit-transform: translate3d(0,-100%,0);
}
.press-link:hover .press-link-info {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
}
.press-link-title {
  font-weight: 900;
  color: #231f20;
  line-height: 1.15;
  font-size: 20px;
  margin-bottom: 5px;
}
