#page-header-team {
  background-image: url(/assets/images/team-header.jpg);
  background-color: #080f1f;
  background-size: cover;
  background-position: center -40px;
}

.person {
  height: 310px;
  font-size: 25px;
  text-align: center;
}
.person img, .person .swapping-icons {
  width: 325px;
  height: 232px;
  margin-bottom: 5px;
}
.person-name {
  font-weight: 900;
}
.team .grid-info-box {
  background: #231f20;
  padding: 15px;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  height: 420px;
}
.team .grid-info-box iframe {
  display: block;
  border: none;
  width: 675px;
  height: 385px;
  margin: 0 auto;
}
.person.active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(121, 209, 235, 0);
  border-bottom-color: #231f20;
  margin-top: -15px;
  border-width: 15px;
  margin-left: -15px;
  z-index: 100;
}

#join-the-team img:first-of-type {
  right: 600px;
}

#join-the-team h2 {
  top: 15px;
  padding-top: 15px;
}

#join-the-team p {
  padding-bottom: 15px;
}
