/*
 * tfp-blue: #84dbf5 rgb(132, 219, 245);
 * dark-blue: #1d456b;
 * dark-grey: #231f20;
 * light-grey: #b5b5ba;
 * black-blue: #121e29;
*/

html {
  background: #121e29;
  font-family: 'AvenirLTStd', 'Avenir Next', sans-serif;
  color: #231f20;
}

body.no-page-header { border-top: 75px solid #84dbf5; }

#page-content {
  background: white;
}
#page-content:after {
  content: '';
  display: table;
  clear: both;
}

#site-nav a  {
  color: white;
  color: rgba(255,255,255,0.5);
  font-size: 15px;
  letter-spacing: 3px;
}
#site-nav a:hover, #site-nav a.active {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.2;
  font-weight: 900;
}

h2 {
  font-size: 37px;
  line-height: 1.15;
}

a {
  color: #1d456b;
  font-weight: 600;
  text-decoration: none;
}

input[type=submit], button, .button {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  background-color: #84dbf5;
  background-color: rgba(38,207,255,.6);
  color: white;
  border: none;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}
input[type=submit]:hover, button:hover, .button:hover {
  -webkit-filter: saturate(150%);
  -moz-filter: saturate(150%);
  filter: saturate(150%);
}
input[type=submit]:active, button:active, .button:active {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}
.button-outline {
  border: 2px solid;
}

.bg-tfp-blue { background-color: #84dbf5; color: white; }
.bg-black-blue { background-color: #121e29; color: white; }
.color-white { color: white; }
.color-dark-blue { color: #1d456b; }

.headline {
  font-weight: 900;
  font-size: 3.5em;
  line-height: 1;
}

.align-center {
  text-align: center;
}

#site-footer {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#site-footer h3 {
  color: white;
}
#site-footer a {
  color: white;
  color: rgba(255,255,255,.8);
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;
}
#site-footer a:hover {
  color: white;
}


.inline-nav-item {
  text-transform: uppercase;
  color: #b5b5ba;
}
.inline-nav-item.active, .inline-nav-item:hover { color: #84dbf5; }

.classy-header {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  color: grey;
  letter-spacing: .1em;
  font-size: 20px;
  position: relative;
}
.classy-header:before, .classy-header:after {
  content: '';
  display: block;
  height: 1px;
  width: 255px;
  background: #d0d0d0;
  position: absolute;
  top: 13px;
  z-index: 0;
}
.classy-header:before { left: 0; }
.classy-header:after { right: 0; }
.classy-serif {
  color: #b5b5ba;
  font-family: klinic, serif;
  font-style: italic;
  text-align: center;
}
.classy-serif:after {
  content: '';
  display: block;
  height: 0;
  width: 30%;
  margin: 30px auto 0;
  border-top: 1px solid;
}

.classy-sans {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  color: #b5b5ba;
}



article p {
  color: #625E6C;
}

.compressed {
  letter-spacing: 0;
}
