.video-list .video:after {
  content: '';
  clear: both;
  display: table;
}

.video-list .video-player {
  width: 255px;
}

.video-list iframe {
  width: 100%;
  height: 285px;
  border: none;
}
.video-list .video-player, .video-list .video-caption {
  float: right;
}
.video-list .video-player {
  width: 495px;
  margin-left: 30px;
  margin-right: 90px;
}

.video-list .video-caption {
  width: 325px;
}

