.video-list .video {
  margin: 30px auto;
}
.video-list .video:after {
  content: '';
  clear: both;
  display: table;
}

.video-list iframe {
  width: 100%;
  height: 225px;
  border: none;
}
.video-list .video-player, .video-list .video-caption {
  float: right;
}
.video-list .video-player {
  width: 395px;
  margin-left: 30px;
}

.video-list .video-caption {
  width: 325px;
  font-size:15px;
}

