.video-list .video {
  margin: 30px auto;
}
.video-list .video:after {
  content: '';
  clear: both;
  display: table;
}

.video-list iframe {
  width: 100%;
  height: 285px;
  border: none;
}
.video-list .video-player {
  width: calc(50% - 7.5px);
  float: right;
  margin-left: 15px;
}

.video-list .video-caption {
  float: left;
  margin-right: 15px;
  width: calc(40% - 30px);
  margin-left: 90px;
  margin-top: 30px;
}

