<div class='fbs-video-container fbs-video-container-{{ page.title | downcase | replace:' ', '-' }}'>
  <div class='fbs-video-poster' style='background-image: url(/homepage-videos/images/{{ page.thumbnail }});'></div>
  <div class='fbs-video-quote-container'>
    <div class='quote-content'>
      {{ page.quote }}
    </div>
    <div class='quote-source'>
      - {{ page.first_name }}
    </div>
    <div class='play-button'>
      <a class='button' href="//player.vimeo.com/video/{{ page.vimeo_id}}?autoplay=1">
        Hear {{ page.first_name }}‘s Story
      </a>
    </div>
</div>
