---
title: Where It Happens
layout: default
maps_api_key: AIzaSyC7Oq7sUwTJh2O4Y9LCC0J5z5h7NS1qqAY
---

<div id="map_canvas"></div>
<article>
  <section class="row centered inline_images">
    <div class="g4 s4 map_filter" data-group='current'>
      <img src="/assets/map_cluster.png">
      <strong>Current Cities</strong>
      <ul class='inline_list'>
        <li class='map_city' data-zoom="11" data-title='New York' data-lat='40.7828647' data-lng='-73.965355' data-group='current'>New York</li>
        <li class='map_city' data-title='Newark' data-lat='40.735657' data-lng='-74.1723667' data-group='current'>Newark</li>
        <li class='map_city' data-title='New Haven' data-lat='41.308274' data-lng='-72.9278835' data-group='current'>New Haven</li>
        <li class='map_city' data-title='Washington DC' data-lat='38.90723089999999' data-lng='-77.0364641' data-group='current'>D.C.</li>
        <li class='map_city' data-title='Detroit' data-lat='42.3314' data-lng='-83.0458' data-group='current'>Detroit</li>
        <li class='map_city' data-title='The Bay Area' data-lat='37.7833' data-lng='-122.4167' data-group='current'>The Bay Area</li>		
        <li class='map_city' data-title='Philadelphia' data-lat='39.9525839' data-lng='-75.1652215' data-group='current'>Philadelphia</li>
      </ul>
	  <br>
      <button class="btn_mini browse_schools">Browse Our Schools</button>
    </div>
    <div class="g4 map_filter" data-group='planned'>
      <img src="/assets/map_square.png">
      In the Works
    </div>
  </section>
</article>
<div class="gray_mini">
	(Click a city to zoom <b>way</b> in.)
</div>
<a name="principals"></a>
<article class='centered white'>
  <br>
  
  <header>
    <div class="mission">A Truly National Problem<br>Demands a National Solution.</div>
  </header>
  <section>
    <p>The heart of our model is an idea that knows no demographic, socioeconomic, or geographic boundaries: a Dream Director. Imagine if every school had one leader within it devoted to unlocking the passions and purpose of students and staff alike. Imagine the possibility.</p>

    <div class="mission">
      <div class="small">Want to hire a Dream Director for your school or city?
      </div>
    </div>
    <br>
    <p>Today, we are working in partnership with our high school and district partners to help inspire thousands of students across seven major American cities to live lives of passion and purpose — but we're just getting started! If you are a principal, teacher, parent, student, or passionate citizen, join our growing waiting list of communities interested in a full-time Dream Director — and we'll be ready for you soon! Our Dream Directors are highly trained inspirational leaders, organizers, and coaches with one major skill: turning schools into places where students — by pursuing inspiring projects — build the mindset and skillset to thrive for the rest of their lives.</p>
    <div class='button_white' data-toggle="#waiting_list_form">Join the Waiting List</div>
    <br>
  </section>
</article>
<article>
  <section id="waiting_list_form">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="http://thefutureproject.us2.list-manage.com/subscribe/post?u=d586573f41213e0b0271aee26&amp;id=e824385c82" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="mc-field-group">
      <label for="mce-FNAME">First Name </label>
      <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
    </div>
    <div class="mc-field-group">
      <label for="mce-LNAME">Last Name </label>
      <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
    </div>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email</label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
      <label for="mce-MMERGE5">School Name </label>
      <input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
    </div>
    <div class="mc-field-group">
      <label for="mce-MMERGE7">ZIP Code </label>
      <input type="text" value="" name="MMERGE7" class="" id="mce-MMERGE7">
    </div>
    <div class="mc-field-group">
      <label for="mce-MMERGE6">How do you know the school?</label>
      <input type="text" value="" name="MMERGE6" class="" id="mce-MMERGE6">
    </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_d586573f41213e0b0271aee26_e824385c82" value=""></div>
      <div class="mc-field-group row">
        <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button_white">
      </div>
    </form>
    </div>

    <!--End mc_embed_signup-->
  </section>

</article>
<ul id="map_cities">
  <li class='map_city' data-title='Dallas' data-lat='32.7801399' data-lng='-96.80045109999999' data-group='planned'></li>
  <li class='map_city' data-title='Omaha' data-lat='41.2523634' data-lng='-95.99798829999999' data-group='planned'></li>
  <li class='map_city' data-title='Bridgeport' data-lat='41.1865478' data-lng='-73.19517669999999' data-group='planned'></li>
  <li class='map_city' data-title='Atlanta' data-lat='33.7489954' data-lng='-84.3879824' data-group='planned'></li>
  <li class='map_city' data-title='Chicago' data-lat='41.8781136' data-lng='-87.6297982' data-group='planned'></li>
  <li class='map_city' data-title='Memphis' data-lat='35.1495343' data-lng='-90.0489801' data-group='planned'></li>
  <li class='map_city' data-title='Los Angeles' data-lat='34.0522342' data-lng='-118.2436849' data-group='planned'></li>
  <li class='map_city' data-title='Austin' data-lat='30.267153' data-lng='-97.7430608' data-group='planned'></li>
  <li class='map_city' data-title='Baltimore' data-lat='39.2903848' data-lng='-76.6121893' data-group='planned'></li>
  <li class='map_city' data-title='Boston' data-lat='42.3584308' data-lng='-71.0597732' data-group='planned'></li>
</ul>

<article id="school_overlays">
  {% for school in site.categories.where %}
  <div class="school"
    data-lat="{{ school.lat}}" data-lng="{{ school.lng }}" data-title="{{ school.title }}">
      <img src="{{ school.portrait }}" alt="{{ school.dream_director }}" />
      <div class="school_info">
        <h1>{{ school.title }}</h1>
        <div class="fact">
          <label>Dream Director</label>
          <h3>{{ school.dream_director }}</h3>
        </div>
        <div class="fact">
          <label>Principal</label>
          <h3>{{ school.principal }}</h3>
        </div>
        <div class="fact">
          <label>Population</label>
          <h3>{{ school.population }}</h3>
        </div>
        {% if school.mascot %}
          <div class="fact">
            <label>Mascot</label>
            <h3>{{ school.mascot }}</h3>
          </div>
        {% endif %}
        <p> {{ school.content }} </p>
        <div class="close_button"></div>
        <div class="next_button">Next &raquo;</div>
      </div>
    </div>
  {% endfor %}
</article>

<script src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&sensor=false"></script>
<script src="/assets/markerwithlabel_packed.js"></script>

